<!DOCTYPE html>
<html lang="en">


<head>


  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17121917391">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-17121917391');
</script>

  <script>
    window.addEventListener('load', function() {
        var timing = window.performance.timing;
        if (timing.loadEventEnd >= timing.navigationStart) {
            var loadTime = timing.loadEventEnd - timing.navigationStart;
            console.log("Page load time: " + loadTime + " milliseconds");
        } else {
            console.log("Invalid timing values. Page load time cannot be calculated.");
        }
    });
</script>

  <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1189449807922713');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1189449807922713&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
  (function() {
  window.__insp = window.__insp || [];
  __insp.push(['wid', 1605242972]);
  var ldinsp = function(){
  if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1605242972&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  setTimeout(ldinsp, 0);
  })();
  </script>
  <!-- End Inspectlet Asynchronous Code -->




<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title><%=Metatags.title%></title>
<meta name=description content="<%=Metatags.description%>"/>
<meta name="abstract" content="<%=Metatags.abstract%>"/>
<meta name="keywords" content="<%=Metatags.keywords%>"/>
<meta name="og:title" content="<%=Metatags.title%>"/>
<meta name="og:description" content="<%=Metatags.description%>"/>
<meta property=og:url content="<%=CommonMetaTags.URL%>"/>
<meta property=og:image content="<%=CommonMetaTags.ogImage%>" style="width:80px;"/>
<meta property=og:site_name content="<%=CommonMetaTags.siteName%>"/>
<meta name="HandheldFriendly" content="<%=CommonMetaTags.HandheldFriendly%>"/>
<meta name="MobileOptimized" content="<%=CommonMetaTags.MobileOptimized%>"/>
<meta property="og:phone_number" content="<%=CommonMetaTags.ogPhone%>"/>
<meta property="og:email" content="<%=CommonMetaTags.ogEmail%>"/>
<meta property="og:country-name" content="<%=CommonMetaTags.ogCountry%>"/>
<link rel="shortcut icon" type="image/x-icon" href="<%=CommonMetaTags.Icon%>">
<link rel=canonical href="<%=fullUrl%>">

<link rel="stylesheet" href="/design/css/bootstrap.min.css">

<link rel="stylesheet" href="/design/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/design/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/design/css/owl.carousel.min.css">
<link rel="stylesheet" href="/design/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/design/plugins/feather/feather.css">


<link rel="stylesheet" href="/design/plugins/slick/slick.css">
<link rel="stylesheet" href="/design/plugins/slick/slick-theme.css">

<link rel="stylesheet" href="/design/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="/design/plugins/aos/aos.css">

<link rel="stylesheet" href="/design/css/style.css">
<link rel="stylesheet" href="/css/title.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">

<style>
  /* Minified and optimized CSS */

body{font-family:"Alice",serif;font-weight:400;font-style:normal;}

.section-title{margin-bottom:50px;position:relative;}
.section-title p{font-size:16px;}
.text-center .title-effect{left:50%;margin-left:-25px;}
.title-effect .bar{background:#2575fc;}
.title-effect{width:50px;height:50px;top:0;position:absolute;left:0;opacity:0.5;animation:rotation 12.8s steps(1) 0s infinite;}
.title-effect .bar-top,.title-effect .bar-bottom{width:100%;height:7px;position:absolute;transform-origin:left top;}
.title-effect .bar-top{top:0;left:0;transform:scale(0,1);animation:bar-top 3.2s linear 0s infinite;}
.title-effect .bar-right,.title-effect .bar-left{width:7px;height:100%;position:absolute;transform-origin:left top;}
.title-effect .bar-right{top:0;right:0;transform:scale(1,0);animation:bar-right 3.2s linear 0s infinite;}
.title-effect .bar-bottom{width:100%;height:7px;position:absolute;right:0;bottom:0;transform-origin:right top;transform:scale(0,1);animation:bar-bottom 3.2s linear 0s infinite;}
.title-effect .bar-left{left:0;bottom:0;transform-origin:left bottom;transform:scale(1,0);animation:bar-left 3.2s linear 0s infinite;}
.section-title h2{margin-bottom:15px;}
.work-process{position:relative;}
.step-num{background:#fff;border-radius:50%;box-shadow:0 12px 20px 0 rgba(117,178,240,0.4);color:#25408D;display:inline-block;font-size:18px;font-weight:600;height:50px;line-height:55px;right:0;position:absolute;text-align:center;top:0;width:50px;}
.step-icon{background:#ffffff;width:140px;height:140px;position:relative;border:3px solid #fafaff;border-radius:50%;line-height:140px;font-size:40px;text-align:center;color:#1c1d3e;}
.step-icon span{position:relative;}
.step-icon span::after,.step-icon span::before{border-radius:50%;content:"";height:40px;position:absolute;width:40px;z-index:-1;}
.step-icon span::after{background:#cdf3f6;height:25px;left:-10px;top:5px;width:25px;}
.step-icon span::before{background:#d4f8e6;bottom:0;right:-10px;}
@media (max-width: 992px){
  .md-mt-5{margin-top:50px!important;}
  .work-process .box-loader{display:none;}
  .step-desc p{max-width:300px;margin:0 auto;}
  #svg-container{width:100%;transform:rotate(90deg);left:0;top:50%;}
}

/* Minified and optimized CSS */

.work-process{position:relative;}
.step-num{background:#fff;border-radius:50%;box-shadow:0 12px 20px 0 rgba(117,178,240,0.4);color:#25408D;display:inline-block;font-size:18px;font-weight:600;height:50px;line-height:55px;right:0;position:absolute;text-align:center;top:0;width:50px;}
.theme-bg .work-process h4,.theme-bg .work-process p{color:#ffffff;}
.step-icon{background:#ffffff;width:140px;height:140px;position:relative;border:3px solid #fafaff;border-radius:50%;line-height:140px;font-size:40px;text-align:center;color:#1c1d3e;}
.step-icon span{position:relative;}
.step-icon span::after,.step-icon span::before{border-radius:50%;content:"";height:40px;position:absolute;width:40px;z-index:-1;}
.step-icon span::after{background:#cdf3f6;height:25px;left:-10px;top:5px;width:25px;}
.step-icon span::before{background:#d4f8e6;bottom:0;right:-10px;}
.dark-bg .step-icon{color:rgba(255,255,255,0.9);background:none;}
.dark-bg .step-desc h4{color:#2575fc;}
.dark-bg .step-icon{border-color:red;}
.dark-bg .step-desc p{color:rgba(255,255,255,0.7);}
.step-num-box{position:relative;display:inline-block;margin-bottom:20px;}
.work-process .box-loader{position:absolute;top:30%;right:-15%;left:inherit;}
.work-process.style-2{padding:0;display:flex;align-items:center;}
.work-process.style-2:before{display:none;}
.work-process.style-2 .step-num-box{margin-bottom:0;margin-right:30px;}
.work-process.style-3{padding:70px 30px 0;}
.work-process.style-3 .step-num{background:none;box-shadow:none;color:rgba(255,255,255,0.1);font-size:120px;height:auto;left:50%;line-height:120px;margin-bottom:0;position:absolute;top:0;transform:translateX(-50%);width:auto;}
#svg-container{position:absolute;width:100%;left:52%;z-index:-1;transform:translateX(-50%);width:75%;}
#svgC{margin:0 auto;width:100%;}
.box-loader{border-radius:100%;margin:0 auto;position:absolute;top:15px;left:15px;}
.box-loader span{display:inline-block;width:10px;height:10px;border-radius:100%;background:#2575fc;margin:0 5px;opacity:0;}
.box-loader span:nth-child(1){animation:opacitychange 1s ease-in-out infinite;}
.box-loader span:nth-child(2){animation:opacitychange 1s ease-in-out 0.33s infinite;}
.box-loader span:nth-child(3){animation:opacitychange 1s ease-in-out 0.66s infinite;}
@keyframes rotation{0%{transform:rotate(0deg);}25%{transform:rotate(90deg);}50%{transform:rotate(180deg);}75%{transform:rotate(270deg);}100%{transform:rotate(360deg);}}
@keyframes bar-top{0%{transform:scale(0,1);}12.5%{transform:scale(1,1);}87.5%{transform:scale(1,1);}100%{transform:scale(0,1);}}
@keyframes bar-right{0%{transform:scale(1,0);}12.5%{transform:scale(1,0);}25%{transform:scale(1,1);}75%{transform:scale(1,1);}87.5%{transform:scale(1,0);}100%{transform:scale(1,0);}}
@keyframes bar-bottom{0%{transform:scale(0,1);}25%{transform:scale(0,1);}37.5%{transform:scale(1,1);}62.5%{transform:scale(1,1);}75%{transform:scale(0,1);}100%{transform:scale(0,1);}}
@keyframes bar-left{0%{transform:scale(1,0);}37.5%{transform:scale(1,0);}50%{transform:scale(1,1);}62.5%{transform:scale(1,0);}100%{transform:scale(1,0);}}
@keyframes opacitychange{0%,100%{opacity:0;}60%{opacity:1;}}
@media (max-width:1200px){#svg-container{width:85%;}}
@media (max-width:992px){.md-mt-5{margin-top:50px!important;}.work-process .box-loader{display:none;}.step-desc p{max-width:300px;margin:0 auto;}#svg-container{width:100%;transform:rotate(90deg);left:0;top:50%;}}


</style>


<script type='application/ld+json'> 
  {
    "@context": "https://www.schema.org",
    "@type": "Organization",
    "name": "FileMakr",
    "url": "<%=fullUrl%>",
    "logo": "https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif",
    "image": "https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif",
    "description": "<%=Metatags.description%>",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Lohiya Bazar , Morena ( M.P. )",
      "addressLocality": "Morena",
      "addressRegion": "Madhya Pradesh",
      "postalCode": "476001",
      "addressCountry": "India"
    },
    "sameAs": [
      "https://www.facebook.com/FileMakr",
      "https://twitter.com/FileMakr",
      "https://instagram.com/filemakr/",
      "https://www.filemakr.com",
      "https://www.linkedin.com/company/filemakr/"
    ],
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+918319339945",
      "contactType": "general"
    },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "http://localhost:3000/"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.8",
    "reviewCount": "1023"
  },
  "review": {
    "@type": "Review",
    "author": {
      "@type": "Person",
      "name": "Manisha Jain"
    },
    "datePublished": "2024-06-17",
    "reviewBody": "Thank you soo much Filemakr for  helping me in my project , i got my college project done at reasonable rate and ontime delivery .Also thankyou so much for project report .You save me. I highly recommend filemakr to all college students in need of semester projects and project report.",
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "5"
    }
  }
}
  </script>



  <style>
    .top-bar {
      background: #F17F23;
      padding: 15px 0;
      text-align: center;
      color:black;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .offer-text {
      display: inline-block;
      animation: blink 1s infinite alternate, scaleText 2s infinite ease-in-out;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
  
    @keyframes blink {
      0% { opacity: 1; }
      100% { opacity: 1; }
    }
  
    @keyframes scaleText {
      0%, 100% { transform: scale(1); }
      50% { transform: scale(1.05); }
    }
  </style>


</head>

<body>

<div class="main-wrapper">

  <style>
   /* ---- Offer Bar (mobile-first, app-like) ---- */
.offer-bar{
   position: sticky;
  top: 0;
  z-index: 1020; width:100%;
  background:linear-gradient(90deg,var(--brandBlue),var(--brandOrange));
  color:#fff; box-shadow:0 6px 20px rgba(0,0,0,.12);
}

.app-nav{
  z-index: 1015;              /* below offcanvas (1045), above page content */
}

.wa-fab{
  z-index: 1016;              /* above bottom nav, but below offcanvas */
}

/* Optional: if you want the offer bar ABOVE a fixed-top navbar (1030),
   bump it slightly but keep it BELOW offcanvas (1045) */
.has-fixed-navbar .offer-bar { z-index: 1031; }

.offer-content{
  display:flex; align-items:center; gap:10px; padding:10px 0;
  justify-content:space-between; flex-wrap:wrap;
}
.offer-badge{
  display:inline-flex; align-items:center; gap:6px;
  background:rgba(255,255,255,.15); border:1px solid rgba(255,255,255,.25);
  color:#fff; font-weight:900; font-size:11px; padding:6px 10px; border-radius:999px;
}
.offer-copy{
  display:flex; align-items:baseline; gap:8px; color:#fff;
  font-weight:900; letter-spacing:-.01em;
}
.offer-title{ font-size:16px; }
.offer-price{ font-size:20px; line-height:1; }
.blink{
  display:inline-block;
  animation:blink 1s steps(2, start) infinite;
  text-shadow:0 2px 10px rgba(255,255,255,.5);
}
@keyframes blink { 50% { opacity:.35; } }

/* CTA button */
.offer-cta{
  display:inline-flex; align-items:center; gap:8px;
  background:#fff; color:#111; text-decoration:none; font-weight:900;
  padding:10px 14px; border-radius:12px; box-shadow:0 8px 22px rgba(0,0,0,.18);
}
.offer-cta:hover{ filter:brightness(.98); }

/* Dismiss */
.offer-dismiss{
  background:transparent; border:1px solid rgba(255,255,255,.35);
  color:#fff; width:36px; height:36px; border-radius:10px;
  display:inline-flex; align-items:center; justify-content:center;
}
.offer-dismiss:hover{ background:rgba(255,255,255,.12); }

/* Compact layout on very small screens */
@media (max-width:420px){
  .offer-content{ gap:8px; }
  .offer-title{ font-size:15px; }
  .offer-price{ font-size:30px; }
  .offer-cta{ flex:1; justify-content:center; }
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce){
  .blink{ animation:none; }
}

  </style>

<div id="OfferBar" class="offer-bar" role="region" aria-label="Limited time offer">
  <div class="container">
    <div class="offer-content">
      <span class="offer-badge"><i class="feather-zap"></i> LIMITED TIME</span>

      <div class="offer-copy">
        <span class="offer-title">Get Source Code</span>
        <span class="offer-price"><strong class="blink">₹99</strong></span>
      </div>

      <a id="OfferCTA" class="offer-cta" href="/source-code">
        <i class="feather-shopping-bag"></i> Claim Offer
      </a>

      
    </div>
  </div>
</div>

<header class="header header-page">
    <div class="">
    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
        <div class="container">
            <div class="navbar-header" >
            <a id="mobile_btn" href="javascript:void(0);">
            <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
            </span>
            </a>
            <a href="/" title="FileMakr: Project Report and Source Code for Final Year College Students" class="navbar-brand logo">
            <!-- <img src="https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif" style="width: 60px;" class="img-fluid" alt="Logo">
             -->
             <!-- FileMakr -->
             <h1>File<span style="color: #F17F23;">Makr</span></h1>
            
            </a>
            </div>
            <div class="main-menu-wrapper">
            <div class="menu-header">
            <a href="/" title="FileMakr: Project Report and Source Code for Final Year College Students" class="menu-logo">
            <!-- <img src="https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif" class="img-fluid" alt="Logo"> -->
            <h1>File<span style="color: #F17F23;">Makr</span></h1>
            
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i>
            </a>
            </div>
            <ul class="main-nav">
            <li class="active">
            <a href="/" title="FileMakr: Project Report and Source Code for Final Year College Students">Home</a>
            </li>
            <li class="has-submenu">
            <a href="#">Project Report <i class="fas fa-chevron-down"></i></a>
            <ul class="submenu">
              <li><a href="/btech-final-year-project-report" title="<%=graduation_type_send%> Final Year Project Report — Filemakr"><%=graduation_type_send%></a></li>
              <li><a href="/mtech-final-year-project-report" title="M.Tech Final Year Project Report — Filemakr">M.TECH</a></li>
              <li><a href="/be-final-year-project-report" title="BE Final Year Project Report — Filemakr">BE</a></li>
              <li><a href="/me-final-year-project-report" title="ME Final Year Project Report — Filemakr">ME</a></li>
               <li><a href="/bca-final-year-project-report" title="BCA Final Year Project Report — Filemakr">BCA</a></li>
                                <li><a href="/mca-final-year-project-report" title="MCA Final Year Project Report — Filemakr">MCA</a></li>
                <li><a href="/bsc-final-year-project-report" title="BSc Final Year Project Report — Filemakr">BSc</a></li>
                <li><a href="/msc-final-year-project-report" title="MSc Final Year Project Report — Filemakr">MSc</a></li>

            </ul>
            </li>
            
            <li class="">
              <a href="/final-year-project-ideas" title="Top Final Year Project Ideas for College Students | FileMakr">Project Ideas</a>
              </li>
            
            
              <!-- <li class="">
                <a href="/source-code">Source Code</a>
                </li> -->

                <li class="has-submenu">
                  <a href="#">Source Code <i class="fas fa-chevron-down"></i></a>
                  <ul class="submenu">
            <% for(i=0;i<category.length;i++){%>
          
              <li><a href="/source-code/<%=category[i].seo_name%>" title="Download <%=category[i].name%> Projects with Source Code | FileMakr"><%=category[i].name%></a></li>
                   <% } %>
                  </ul>
                  </li>
            
                      <li>
                <a href="/our-campus-brand-ambassador">Our Campus Brand Ambassador</a>
              </li>
            
            <!-- <li class="login-link">
            <a href="login.html">Login / Signup</a>
            </li> -->
            </ul>
            </div>
            <ul class="nav header-navbar-rht">
            <!-- <li class="nav-item">
            <a class="nav-link header-sign" href="login.html">Signin</a>
            </li> -->
            <li class="nav-item">
            <a class="nav-link header-login" href="/contact-us" title="Contact Us | FileMakr">Contact Us</a>
            </li>
            </ul>
            </div>
    </nav>
    </div>
    </header>
    
