<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>




<script async src="//pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "pub-7230981653683251",
enable_page_level_ads: true
});
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150389922-1');
</script>
<script data-ad-client="ca-pub-7230981653683251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="Download <%=result[0][0].name%> Source Code"/>
    <meta name="abstract" content="Download <%=result[0][0].name%> Source Code"/>
    <meta name=keywords content="project file, top 100 projects"/>
  
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="Download <%=result[0][0].name%> Source Code"/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="Download <%=result[0][0].name%> Source Code"/>
    <meta property=og:title content="Download <%=result[0][0].name%> Source Code"/>
    <meta property=og:type content="Download <%=result[0][0].name%> Source Code"/>
    <meta property=og:url content="http://www.filemakr.com"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="Download <%=result[0][0].name%> Source Code"/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="Download <%=result[0][0].name%> Source Code"/>
   <link rel=canonical href="http://www.filemakr.com/<%=result[0][0].seo_name%>/source-code">
    <title><%=result[0][0].name%> Source Code — Filemakr </title>




    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Startup",
        "url": "http://www.filemakr.com",
        "name": "Build Major & Minor Project File.",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+91-831-933-9945",
          "contactType": "Enginerring service"
        }
      }
      </script> 

<!-- Favicons -->
<link href="/images/filemakr-project-file-creator-favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" async>

  <!-- /a/libraries CSS Files -->
  <link href="/all.css" rel="preload" as="style" async>
  <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" async>
  <link href="/a/lib/ionicons/css/ionicons.min.css" rel="preload" as="style" async>
  <link href="/a/lib/lightbox/css/lightbox.min.css" rel="preload" as="style" async>

  <!-- Main Stylesheet File -->
  <link href="/a/css/style.css" rel="stylesheet" async>



</head>

<body>
 
    <%include ./navbar.ejs %>  
  <main id="main">





    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

       

        <div class="row">

       
         
        </div>

      </div>
    </section><!-- #services -->
<br>
    <section id="faq">
        <div class="container">
          <header class="section-header">
            <h4><%=result[0][0].name%></h4>
            <p></p>
          </header>
  

  <div class="row">
       <div class="col-lg-4 bg-light">
         
<table class="table table-hover">
  <thead style="background-color: #1BB1DC">
    <tr>
      <th scope="col" class="text-center">#Trending Project</th>
     
    </tr>
  </thead>
  <tbody>
   
<% for(i=0;i<result[1].length;i++){%>

<tr>
      <td>
        <a href="/<%=result[1][i].seo_name%>/source-code" style="color: black;font-weight: bold"><%=result[1][i].name%></a>
          
        </td>
    </tr>

<% } %>

  </tbody>
</table>

       </div>
          <div class="col-lg-8">
            
<table class="table table-xs-responsive" summary="An example of a responsive table using Bootstrap breakpoints." aria-role="table">

  <tbody>
  <tr class="success">
    <th>Project Name</th>
    <td><%=result[0][0].name%></td>
    
  </tr>
  <tr class="info">
    <th>Language Used</th>
    <td>PHP5.6, PHP7.x</td>
   
  </tr>
  <tr class="warning">
    <th>Database</th>
    <td>MySQL 5.x</td>
 
  </tr>


 <tr class="warning">
    <th>User Interface Design</th>
    <td>HTML, AJAX, JQUERY, JAVASCRIPT, BOOTSTRAP</td>
 
  </tr>


   <tr class="warning">
    <th>Web Browser</th>
    <td>Mozilla, Google Chrome, IE8, OPERA</td>
 
  </tr>


   <tr class="warning">
    <th>Software</th>
    <td>XAMPP / Wamp / Mamp/ Lamp (anyone)</td>
 
  </tr>


  </tbody>

</table>





 <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2.5">
            <p><%=result[0][0].description%>
                


</p>
</span>








<h4 style="font-weight: bold;">Admin Features</h4>


<table class="table table-xs-responsive" summary="An example of a responsive table using Bootstrap breakpoints." aria-role="table">

  <tbody>

    <% for(i=0;i<result[2].length;i++){ %>
  <tr class="success">

    <td><%=i+1%>. <%=result[2][i].features%></td>
    
  </tr>

  <% } %>
 
  </tbody>

</table>







<h4 style="font-weight: bold;">User Features</h4>


<table class="table table-xs-responsive" summary="An example of a responsive table using Bootstrap breakpoints." aria-role="table">

  <tbody>

    <% for(i=0;i<result[3].length;i++){ %>
  <tr class="success">

    <td><%=i+1%>. <%=result[3][i].features%></td>
    
  </tr>

  <% } %>
 
  </tbody>

</table>




<h4 style="font-weight: bold;">How TO RUN <%=result[0][0].name%></h4>


<table class="table table-xs-responsive" summary="An example of a responsive table using Bootstrap breakpoints." aria-role="table">

  <tbody>
  <tr class="success">

    <td>1. Download the zip file</td>
    
  </tr>
  <tr class="info">
   
    <td>2. Extract the file and copy <b>"<%=result[0][0].folder_name%>"</b> folder</td>
   
  </tr>
  <tr class="warning">
   
    <td>3. Paste inside root directory(for xampp xampp/htdocs, for wamp wamp/www, for lamp var/www/html).</td>
 
  </tr>


 <tr class="warning">
   
    <td>4. Open PHPMyAdmin (http://localhost/phpmyadmin).
  </tr>



 <tr class="warning">
   
    <td>5. Create a database with name <b>"<%=result[0][0].database_name%>"</b>.
  </tr>


 <tr class="warning">
   
    <td>6. Import <b><%=result[0][0].database_name%>.sql </b> file(given inside the zip package in SQL file folder).
  </tr>




 <tr class="warning">
   
    <td>7. Run the script <b><%=result[0][0].url%></b> (frontend).
  </tr>

 <tr class="warning">
   
    <td>8. For admin Panel <b><%=result[0][0].url%>/admin</b>.
  </tr>

 
  </tbody>

</table>



<h4 style="font-weight: bold;">Login Credentials</h4>


       
<table class="table table-xs-responsive" summary="An example of a responsive table using Bootstrap breakpoints." aria-role="table">

  <tbody>
  <tr class="success">
    <th>Pannel</th>
    <th>Username</th>
        <th>Password</th>
  </tr>
 

   <tr class="info">
    <th>Admin</th>
    <td>admin</td>
    <td>Test @123</td>
   
  </tr>
  <tr class="warning">
    <th>User</th>
    <td>User</td>
    <td>Test @123</td>
 
  </tr>


  </tbody>

</table>



   <h4 style="font-weight: bold;">Fill this form to download source code.</h4>


            <span class="anchor" id="formLogin"></span> 
            <!-- form card login -->
            <div class="card card-outline-secondary">
             
              <div class="card-body">
                <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form">
                  
<div class="row">
  <div class="col-6">
                    <div class="form-group">
                    <label>Name</label> 
                    <input autocomplete="new-password" class="form-control" id="name" required="" type="text">
                  </div>
</div>

<div class="col-6">
                    <div class="form-group">
                    <label>Email</label> 
                    <input autocomplete="new-password" class="form-control" id="email" required="" type="email">
                  </div>
</div>

  <div class="col-6">
                    <div class="form-group">
                    <label>Mobile Number</label> 
                    <input autocomplete="new-password" class="form-control" id="number" required="" type="number">
                  </div>
</div>

<div class="col-6">
                    <div class="form-group">
                    <label>College Name</label> 
                    <input autocomplete="new-password" class="form-control" id="college_name" required="" type="text">
                  </div>
</div>


</div>
               
               
                  
                 
                  <button class="btn btn-primary float-right" id="razorpay" projectid="<%=result[0][0].id%>"  type="button">Dowanload Source Code</button>
                </form>
              </div><!--/card-block-->
            </div><!-- /form card login -->



<!-- 
<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GJ0TEfmiPnpDS1"> </script> </form>
 -->
<!-- <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GJ0ZAfKKdC31IJ"> </script> </form>
 -->


          </div>

  </div>





  
        </div>
      </section><!-- #faq -->
  
    

  
    
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <%include ./footer.ejs %>  
  
    
  
</body>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>





$(document).ready(function(){
	$('a[href="#search"]').on('click', function(event) {                    
		$('#search').addClass('open');
		$('#search > form > input[type="search"]').focus();
	});            
	$('#search, #search button.close').on('click keyup', function(event) {
		if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
			$(this).removeClass('open');
		}
	});            
});









$('#razorpay').click(function(e){




// var text ='jii' 
//                 var filename = "GFG.txt"; 
//                 download(filename, text);

  if($('#name').val()==[] || $('#name').val()=="" || $('#name').val()==null || $('#name').val()=="null")  alert('Enter Name')
  else if($('#email').val()==[] || $('#email').val()=="" || $('#email').val()==null || $('#email').val()=="null") alert('Enter Email ID')
    else if($('#number').val()==[] || $('#number').val()=="" || $('#number').val()==null || $('#number').val()=="null") alert('Enter Mobile Number')
  else if($('#college_name').val()==[] || $('#college_name').val()=="" || $('#college_name').val()==null || $('#college_name').val()=="null") alert('Enter College Name')
    else{

const id = $(this).attr('projectid');
const name = $('#name').val()
const email = $('#email').val()
const number = $('#number').val()
const college_name = $('#college_name').val()

$.post('/final-year-projects-source-code/checkout-data',{id,name,email,number,college_name},data=>{




  const servicename = ''
  const username = $('#name').val()
  const email = $('#email').val()
  const number = $('#number').val()
  const address = 'morena'

  const amount = 200*100
  $.post('/final-year-projects-source-code/razorpay',{amount},data=>{

  console.log(data)

    var options1 = {
    "key": "rzp_live_2AYlv8GRAaT63p", // Enter the Key ID generated from the Dashboard
    "amount": amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise or INR 500.
    "currency": "INR",
    "name": "FileMakr",
    "description": servicename,
    "image": "https://www.filemakr.com/images/filemakr-project-file-creator-logo.png",
    "order_id": data.id,//This is a sample Order ID. Create an Order using Orders API. (https://razorpay.com/docs/payment-gateway/orders/integration/#step-1-create-an-order). Refer the Checkout form table given below
    "handler": function (response){

      console.log('response aaya hai',response)

      $.post('/final-year-projects-source-code/razorpay_response',response,data=>{
if(data == 'success'){
     window.location.href = '/final-year-projects-source-code/download-successfull' 
}
else{
  window.location.href = '/' 
}
      })
    
      
    },
    "prefill": {
        "name": username,
        "email": email,
        "contact": number
    },
    "notes": {
        "address": address
    },
    "theme": {
        "color": "#507ec0"
    }
};


var rzp1 = new Razorpay(options1  );

    rzp1.open();
 
    e.preventDefault();





  })



})
    

}
})




</script>

</html>
