<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>
<script async src="//pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "pub-7230981653683251",
enable_page_level_ads: true
});
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150389922-1');
</script>
<script data-ad-client="ca-pub-7230981653683251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="FileMakr - Download Your Project File - <%=result[13][0].name%> - <%=result[13][0].short_description%>"/>
    <meta name=keywords content="project file, top 100 projects"/>
  
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="FileMakr - Download Your Project File - <%=result[13][0].name%> - <%=result[13][0].short_description%>"/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr. />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="FileMakr - Download Your Project File - <%=result[13][0].name%> - <%=result[13][0].short_description%>"/>
    <meta property=og:title content="FileMakr - Download Your Project File - <%=result[13][0].name%> - <%=result[13][0].short_description%>"/>
    <meta property=og:type content="FileMakr - Download Your Project File - <%=result[13][0].name%> - <%=result[13][0].short_description%>"/>
    <meta property=og:url content="http://www.filemakr.com"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="FileMakr - Download Your Project File - <%=result[13][0].name%> - <%=result[13][0].short_description%>"/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="FileMakr - Download Your Project File - <%=result[13][0].name%> - <%=result[13][0].short_description%>"/>
   
    <link rel=canonical href="http://www.filemakr.com">

    <title>FileMakr - Download Your Project File - <%=result[13][0].name%> - <%=result[13][0].short_description%></title>

  <!-- Favicons -->
  <link href="/images/filemakr-project-file-creator-favicon.png" rel="icon">
  <link href="/a/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- /a/libraries CSS Files -->
  <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/a/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/a/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/a/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/a/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/a/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

  <style>
    table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 15px;
    }
    </style>

  <style>
    h5 {
      text-align: left;
      background: #ccc;
      padding: 5px 10px;
      color: #666;
    }
  </style>


  <style>
    #fixed-form-container {
      position: fixed;
      bottom: 0px;
      left: 3%;
      width: 94%;
      text-align: center;
      margin: 0;

    }


    #fixed-form-container .button {
      font-size: 1.1em;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid #e25454;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px 5px 0px 0px;
      padding: 5px 20px 5px 20px;
      background-color: #e25454;
      color: #fff;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }

    #fixed-form-container .body {
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 16px;
      padding: 10px;
      -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    }

    @media only screen and (min-width:768px) {
      #fixed-form-container .button {
        margin: 0;

      }
      #fixed-form-container {
        left: 20px;
        width: 390px;
        text-align: left;
      }

      #fixed-form-container .body {
        padding: 30px;
        border-radius: 0px 5px 5px 5px;
      }
    }


    @media only screen and (max-width:414px) {
      #fixed-form-container .button {
        margin: 0;

      }
      #fixed-form-container {
        left: 21px;
        width: 390px;
        text-align: right;
      }

      #fixed-form-container .body {
        padding: 30px;
        border-radius: 0px 5px 5px 5px;
      }
    }



    @media only screen and (max-width:360px) {
      #fixed-form-container .button {
        margin: 0;

      }
      #fixed-form-container {
        left: -70px;
        width: 390px;
        text-align: right;
      }

      #fixed-form-container .body {
        padding: 30px;
        border-radius: 0px 5px 5px 5px;
      }
    }


    @media only screen and (max-width:375px) {
      #fixed-form-container .button {
        margin: 0;

      }
      #fixed-form-container {
        left: -15px;
        width: 390px;
        text-align: right;
      }

      #fixed-form-container .body {
        padding: 30px;
        border-radius: 0px 5px 5px 5px;
      }
    }


    @media only screen and (max-width:330px) {
      #fixed-form-container .button {
        margin: 0;

      }
      #fixed-form-container {
        left: -70px;
        width: 390px;
        text-align: right;
      }

      #fixed-form-container .body {
        padding: 30px;
        border-radius: 0px 5px 5px 5px;
      }
    }
  </style>




</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://twitter.com/FileMakr" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/FileMakr" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/filemakr" class="instagram"><i class="fa fa-instagram"></i></a>
          <!--<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>-->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light">
          <a href="/" class="scrollto">
            <span>FileMakr</span>
          </a>
        </h1>
        <!-- <a href="#header" class="scrollto"></a/img src="/a/img/logo.png" alt="" class="/a/img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/all-projects">Project File</a></li>
            <li><a href="/synopsis">Synopsis</a></li>
            <li><a href="/make-your-own-project" class="btn-get-started scrollto">Make your own project</a></li>
            
          </ul>
        </nav><!-- .main-nav -->
       
    </div>
  </header>
  <!-- #header -->

  <main id="main">

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3>
            <button class="btn btn-primary " onclick="printDiv('section-to-print')">Download Your File</button>
          </h3>
        </header>

        <div class="row" id="section-to-print">


          <div id="sig" style="min-width: 300px; max-width:800px; min-height: 82px; line-height: 18px; margin: auto; padding: 50px; margin-top:50px; font-family: 'Lucida ', Verdana, Arial, Sans-Serif; font-size: 12px; color: #333333;">
            <span style="font-size:22px; color:black; text-decoration: none;">
              <center>
                <strong>
                  <%=result[13][0].name%>
                </strong>
              </center>
            </span>
            </br>

            <span style="font-size:18px; color:black;">
              <center>
                <strong>
                  <p>A Project Report</p>
                </strong>
              </center>
              <center>
                <i>Submitted By:</i>
              </center>
            </span>&nbsp;
            <span style="font-size:14px; color:black;">
              <center>
                <i>
                  In partial fulfillment for the award of the Degree of </i>
              </center>
            </span>&nbsp;

            <span style="font-size:18px; color:black;">
              <center>
                <strong>
                  <p>BACHELOR OF ENGINEERING</p>
                  <p>IN</p><p>COMPUTER SCIENCE & ENGINEERING</p></strong></center></span>&nbsp;
               
            <span style="font-size:18px; color:black;">
              <center>Submitted to</center>
            </span>&nbsp;&nbsp;


            <span style="font-size:18px; color:black;">
              <center>
                <strong>
                  <p>
                    <%=result[0][0].affilated_college_name%>
                  </p>
                  <p>
                    <%=result[0][0].affilated_college_address%>
                  </p>
                  <p><img src="/images/<%=result[0][0].affilated_college_logo%>" style="width: 100px;height:100px"></p>
                </strong>
              </center>
            </span>&nbsp;


            <span style="font-size:18px; color:black;">
              <center>By</center>
            </span>&nbsp;&nbsp;


            <span style="font-size:18px; color:black;">
              <center>
                <strong>
                  <p>
                    <%=result[0][0].name%>
                  </p>
                  <p>(
                    <%=result[0][0].roll_number%>)</p>
                </strong>
              </center>
            </span>


            <span style="font-size:18px; color:black;">
              <center>Under the Guidance of</center>
            </span>
            <br>
            <span style="font-size:18px; color:black;">
              <center>
                <strong>
                  <p>Prof.
                    <%=result[0][0].professor_name%>
                  </p>
                </strong>
              </center>
            </span>


            <span style="font-size:18px; color:black;">
              <center>
                <strong>
                  <p><%=result[0][0].college_name%> </p>
                  <p><%=result[0][0].college_address%></p>
                </strong>
              </center>
            </span>

            <br>
          



            <div style="page-break-before: always; page-break-after: always;">

              <span style="font-size:18px; color:black;">
                <center>
                  <strong>
                    <p>
                      <%=result[0][0].college_name%>
                    </p>
                    <p>
                      <%=result[0][0].college_address%>
                    </p>
                    <br>
                    <p><img src="/images/<%=result[0][0].college_logo%>" style="width: 100px;height:100px"></p>
                  </strong>
                </center>
              </span>
              <br>
              <br>
              <br>



              <span style="font-size:18px; color:black;">
                <center>
                  <strong>
                    <u>
                      <p>CERTIFICATE</p>
                    </u>

                  </strong>
                </center>
              </span>
              <br>

              <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                <p>
                  This is to certify that the Project entitled
                  <strong>“
                    <%=result[13][0].name%>
                  </strong> being submitted by
                  <strong>
                    <%=result[0][0].name%>
                  </strong> in partial fulfillment of the requirements for the award of B.E. Degree in
                  <strong>Computer Science & Engineering</strong> to <%=result[0][0].affilated_college_name%> , <%=result[0][0].affilated_college_address%> is a record of bonafide work
                  done by him under my supervision.
                </p>


              </span>
              <br>


              <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif">

                <pre>
    <strong>Prof. <%=result[0][0].professor_name%>            Prof. <%=result[0][0].hod_name%>            Prof. <%=result[0][0].director_name%> </strong>
                                 
    <strong>Guide                              Head                              Director </strong>
                                 
    Department of                      Department of                     <%=result[0][0].college_name%>
                                    
    Computer Science & Engineering     Computer Science & Engineering                    
    </pre>


              </span>


              <br>


            

            </div>


            <div style="page-break-before: always; page-break-after: always;">

              <span style="font-size:18px; color:black;">
                <center>
                  <strong>
                    <u>
                      <p>ACKNOWLEDGEMENTS</p>
                    </u>

                  </strong>
                </center>
              </span>
              <br>





              <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">
                <p>I take this opportunity to thank Prof.
                  <strong><%=result[0][0].professor_name%> </strong> for accepting me to work under his valuable guidance, closely supervising this work over the past few months
                    and offering many innovative ideas and helpful suggestions. His valuable advice and support, in spite
                    of his busy schedule have really been an inspiration and driving force for me. He has constantly enriched
                    my raw ideas with his experience and knowledge.</p>

                <p>I would like to give thanks to Prof.
                <strong> <%=result[0][0].hod_name%> </strong>, Head, Department of Computer Science & Engineering for his valuable guidance and motivation.</p>

                <p> I owe sincere thanks to Prof.
                  <strong><%=result[0][0].professor_name%> </strong> who helped me often and with whom I was able to share numerous enlightening discussions.</p>

                <p>I extend a special word to my friends who encouraged me throughout my work. Last but not the least I must
                  express thanks to all my friends and family for their moral support, which led to the successful completion
                  of this work.</p>


                <p>
                  <%=result[0][0].name%>
                </p>
                <p>Enrollment No.:
                  <%=result[0][0].roll_number%>
                </p>
                <p>
                  <%=result[0][0].college_name%>
                </p>
                <p>
                  <%=result[0][0].college_address%>
                </p>

              </span>



              <br>

            

            </div>



            <div style="page-break-before: always; page-break-after: always;">

              <span style="font-size:18px; color:black;">
                <center>
                  <strong>
                    <u>
                      <p>CANDIDATE DECLARATION</p>
                    </u>

                  </strong>
                </center>
              </span>
              <br>




              <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2;">
                <p>


                  We hereby declare that the work presented in this project entitled <strong>“
                  <%=result[13][0].name%>”</strong> in partial fulfilment for the award of the degree of <strong>Bachelor of Engineering </strong>in <strong>Computer Science and
                    Engineering </strong> is record of my own work carried out under the guidance of Prof.
                    <strong><%=result[0][0].professor_name%></strong>, Professor in Department of Computer Science & Engineering,
                    <strong><%=result[0][0].college_name%> , <%=result[0][0].college_address%></strong>
                        . We have not submitted the matter presented in this project report for any other degree or diploma.
                </p>


                
<p>Signature</p> 
<p><%=result[0][0].name%></p>
<p>Enrolment No: <%=result[0][0].roll_number%>
</p>


                </p>

                <p>



                  <p>

                  
                  </p>
            </div>


            <div style="page-break-before: always; page-break-after: always;">

              <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif">
             <strong> 
<p>Table of Contents:</p>
<p>  &#10004;  Objective</p>
<p>  &#10004;  Overview</p>
<p>  &#10004;  Aim</p>
<p>  &#10004;  Modules</p>
<p>  &#10004;  System analysis and design</p>
<p>  &#10004;  Programming language used</p>
<p>  &#10004;  Hardware & Software Requirements</p>
<p>  &#10004;  Advantage</p>
<p>  &#10004;  Conclusion</p>
<p>  &#10004;  Bibliography</p>
</strong>
</span>





              </span>

            

            </div>

              <div style="page-break-before: always; page-break-after: always;">


                <span style="font-size:18px; color:black;">
                  <center>
                    <strong>
                      <u>
                        <p>Objective of  <%=result[13][0].name%> </p>
                      </u>

                    </strong>
                  </center>
                </span>
                <br>

                <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height:2">


                  <%=result[13][0].objective%>



<br><br>
                </span>

              

              </div>
<br>
              <div style="page-break-before: always; page-break-after: always;">

                <span style="font-size:18px; color:black;">
                  <center>
                    <strong>
                      <u>
                        <p>OVERVIEW OF
                          <%=result[13][0].name%>
                        </p>
                      </u>

                    </strong>
                  </center>
                </span>
                <br>
                <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                  <%=result[13][0].overview%>

                </span>
<br><br>
              

              </div>

              <div style="page-break-before: always; page-break-after: always;">

<br>
                <span style="font-size:18px; color:black;">
                  <center>
                    <strong>
                      <u>
                        <p>
                          <%=result[13][0].name%>
                        </p>
                      </u>

                    </strong>
                  </center>
                </span>
                <br>
                <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                  <%=result[13][0].aim%>


                  </span>



                  <span style="font-size:18px; color:black;">
                    <center>
                      
                          <p>

                          

              </div>


              <div style="page-break-before: always; page-break-after: always;" class="module_image">
               <strong> <p>Working Modules</p>
                                    <u>User Login</p></u></strong>
                                       
                                    <img src="/images/<%=result[13][0].admin_page%>"  style="width:700px;height:450px;">
                                    </strong></center></span>
                                    <br>
                                   <br>
                                  
                
                                    </div>
                
                
                                  
                    
                                            <div style="page-break-before: always; page-break-after: always;" class="module_image">
                    
                                        <strong><p><u>Css Code</u></p></strong> 
                                           
                                        <img src="/images/<%=result[13][0].front_page%>">
                                        </strong></center></span>
                                        <br>
                                       <br>
                                      
                    
                                        </div>
                    
                
              <div style="page-break-before: always; page-break-after: always;">



                <span style="font-size:18px; color:black;">
                  <center>
                    <strong>
                      <u>
                        <p>


                          System Analysis & Design</p>
                      </u>

                    </strong>
                  </center>
                </span>



                <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                  Analysis is the focus of system developing and is the stage when system designers have to work at two levels of definition
                  regarding the study of situational issues and possible solutions in terms of “what to do” and “how to do”.
                  System Study DEFINITION OF THE SYSTEM A system is an orderly grouping of independent components linked
                  together according to a plan to achieve a specific objective. Its main characteristics are organization,
                  interaction, independent, integration and central objective a system does not necessarily mean to a computer
                  system. It may be a manual system or any other names. NEEDS OF THE SYSTEM Social and economic factor: a
                  wave of social and economic changes often follows in the wake of the new technology. New opportunities
                  may arise to improve on a production process or to do something that was not pviously possible. Changes
                  in the ways individuals are organized into groups may then be necessary, and the new groups may complete
                  for economic resources with established units. Technological factor: people have never before in a time
                  when the scope of scientific inquiry was so broad, so when the speed of applying the new technology accounts
                  for many changes in the organization. High level decisions and operating processes: in response to technological,
                  socio-economical factors, top level managers may decide to recognize operations and introduce new products.
                  To deal with these needs, people commonly seek new modified information to support the decision. When that
                  happens, then they obtain turn to a computer system for help the information users and data processing
                  specialist then work together to complete a series of steps in a system study to produce output results
                  to satisfy information needs. System analysis System Analysis is a process by which we attribute process
                  or goals to a human activity, determine how well those purpose are being achieved and specify the requirements
                  of the various tools and techniques that are to be used within the system if the system performances are
                  to be achieved. SYSTEM PLANNING Planning for information systems has a time horizon and a focus dimension.
                  The time horizon dimension specifies the time range of the plan, where as the focus dimension relates whether
                  the primary concern is strategic, managerial, or operational. The system i.e. pLIMINARY INVESTIGATION The
                  initial investigation has the objective of determining the validity of the user’s request for a candidate
                  system and whether a feasibility study should be conducted. The Objective of the problem posed by the
                  user must be understood within the framework of the organization’s MIS plan. I had investigated from the
                  concerned authority about the project INFORMATION GATHERING A key part of feasibility analysis is gathering
                  information about the psent system. The analyst must know what information to gather, where to find it,
                  how to collect it, and what to make of it. The proper use of tools for gathering information is the key
                  to successful analysis. The tools are the traditional interview, questionnaires, and on-site observation.
                  STRUCTURED ANALYSIS The traditional tools of data gathering have limitations. An English narrative description
                  is often vague and difficult for the user to grasp. System flowcharts focus more on physical than on logical
                  implementation of the candidate system. Because of these drawbacks, structured tools were introduced for
                  analysis. Structured analysis is a set of techniques and graphical tools (DFD) that allow the analyst to
                  develop a new kind of system specifications that are easily understandable to the user.

                </span>
<br><br>
              
              </div>

              <div style="page-break-before: always; page-break-after: always;">


                <br>

                <br>

                <span style="font-size:18px; color:black;">
                  <center>
                    <strong>
                      <u>
                        <p>
                          Software Specification</p>
                      </u>

                    </strong>
                  </center>
                </span>

                <% if(result[1][0]){ %>

                  <span style="font-size:18px; color:black;">
                    <strong>
                      <u>
                        <p>


                          <%=result[1][0].name%>
                        </p>
                      </u>

                    </strong>
                  </span>



                  <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                    <%=result[1][0].description%>
                      <br>
                      <br>
                      <%=result[1][0].description2%>
                        <br>
                        <br>
                        <%=result[1][0].description3%>


                  </span>
<br><br>
                




              </div>
              <% }  if(result[2][0]) { %>
                <div style="page-break-before: always; page-break-after: always;">


                  <span style="font-size:18px; color:black;">
                    <strong>
                      <u>
                        <p>


                          <%=result[2][0].name%>
                        </p>
                      </u>

                    </strong>
                  </span>

                  <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">


                    <%=result[2][0].description%>
                      <br>
                      <br>
                      <%=result[2][0].description2%>
                        <br>
                        <br>
                        <%=result[2][0].description3%>

        
                      </span>
        <br><br>
                    

                </div>
                <% }  if(result[3][0]) {%>
                  <div style="page-break-before: always; page-break-after: always;">


                    <span style="font-size:18px; color:black;">
                      <strong>
                        <u>
                          <p>


                            <%=result[3][0].name%>
                          </p>
                        </u>

                      </strong>
                    </span>

                    <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                      <%=result[3][0].description%>
                        <br>
                        <br>
                        <%=result[3][0].description2%>
                          <br>
                          <br>
                          <%=result[3][0].description3%>


                    </span>
<br><br>
                  


                  </div>
                  <%} if(result[4][0]){ %>
                    <div style="page-break-before: always; page-break-after: always;">

                      <span style="font-size:18px; color:black;">
                        <strong>
                          <u>
                            <p>



                              <%=result[4][0].name%>
                            </p>
                          </u>

                        </strong>
                      </span>

                      <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                        <%=result[4][0].description%>
                          <br>
                          <br>
                          <%=result[4][0].description2%>
                            <br>
                            <br>
                            <%=result[4][0].description3%>


                      </span>

<br><br>
                    


                    </div>
                    <%} if(result[5][0]){ %>
                      <div style="page-break-before: always; page-break-after: always;">

                        <span style="font-size:18px; color:black;">
                          <strong>
                            <u>
                              <p>


                                <%=result[5][0].name%>
                              </p>
                            </u>

                          </strong>
                        </span>

                        <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">


                          <%=result[5][0].description%>
                            <br>
                            <br>
                            <%=result[5][0].description2%>
                              <br>
                              <br>
                              <%=result[5][0].description3%>


                        </span>
                        <br><br>
                      

                      </div>

                      <% } if(result[6][0] ){ %>
                        <div style="page-break-before: always; page-break-after: always;">


                          <span style="font-size:18px; color:black;">
                            <strong>
                              <u>
                                <p>


                                  <%=result[6][0].name%>
                                </p>
                              </u>

                            </strong>
                          </span>

                          <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">


                            <%=result[6][0].description%>
                              <br>
                              <br>
                              <%=result[6][0].description2%>
                                <br>
                                <br>
                                <%=result[6][0].description3%>


                          </span>
<br><br>
                        

                        </div>

                        <% }  if(result[7][0]) { %>
                          <div style="page-break-before: always; page-break-after: always;">


                            <span style="font-size:18px; color:black;">
                              <strong>
                                <u>
                                  <p>


                                    <%=result[7][0].name%>
                                  </p>
                                </u>

                              </strong>
                            </span>

                            <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">


                              <%=result[7][0].description%>
                                <br>
                                <br>
                                <%=result[7][0].description2%>
                                  <br>
                                  <br>
                                  <%=result[7][0].description3%>

                            </span>
                            <br><br>
                          

                          </div>
                          <% }  if(result[8][0]) {%>
                            <div style="page-break-before: always; page-break-after: always;">


                              <span style="font-size:18px; color:black;">
                                <strong>
                                  <u>
                                    <p>


                                      <%=result[8][0].name%>
                                    </p>
                                  </u>

                                </strong>
                              </span>

                              <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                                <%=result[8][0].description%>
                                  <br>
                                  <br>
                                  <%=result[8][0].description2%>
                                    <br>
                                    <br>
                                    <%=result[8][0].description3%>


                              </span>
<br><br>
                            


                            </div>
                            <%} if(result[9][0]){ %>
                              <div style="page-break-before: always; page-break-after: always;">

                                <span style="font-size:18px; color:black;">
                                  <strong>
                                    <u>
                                      <p>



                                        <%=result[9][0].name%>
                                      </p>
                                    </u>

                                  </strong>
                                </span>

                                <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                                  <%=result[9][0].description%>
                                    <br>
                                    <br>
                                    <%=result[9][0].description2%>
                                      <br>
                                      <br>
                                      <%=result[9][0].description3%>


                                </span>

<br><br><br>
                              


                              </div>
                              <%} if(result[10][0]){ %>
                                <div style="page-break-before: always; page-break-after: always;">

                                  <span style="font-size:18px; color:black;">
                                    <strong>
                                      <u>
                                        <p>


                                          <%=result[10][0].name%>
                                        </p>
                                      </u>

                                    </strong>
                                  </span>

                                  <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">


                                    <%=result[10][0].description%>
                                      <br>
                                      <br>
                                      <%=result[10][0].description2%>
                                        <br>
                                        <br>
                                        <%=result[10][0].description3%>


                                  </span>
            <br><br>
                                

                                </div>

                                <% } if(result[11][0] ){ %>
                                  <div style="page-break-before: always; page-break-after: always;">


                                    <span style="font-size:18px; color:black;">
                                      <strong>
                                        <u>
                                          <p>


                                            <%=result[11][0].name%>
                                          </p>
                                        </u>

                                      </strong>
                                    </span>

                                    <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">


                                      <%=result[11][0].description%>
                                        <br>
                                        <br>
                                        <%=result[11][0].description2%>
                                          <br>
                                          <br>
                                          <%=result[11][0].description3%>


                                    </span>
<br><br>
                                  

                                  </div>

                                  <% }  if(result[12][0]) { %>
                                    <div style="page-break-before: always; page-break-after: always;">


                                      <span style="font-size:18px; color:black;">
                                        <strong>
                                          <u>
                                            <p>


                                              <%=result[12][0].name%>
                                            </p>
                                          </u>

                                        </strong>
                                      </span>

                                      <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">


                                        <%=result[12][0].description%>
                                          <br>
                                          <br>
                                          <%=result[12][0].description2%>
                                            <br>
                                            <br>
                                            <%=result[12][0].description3%>

                                      </span>
                                      <br><br>
                                    

                                    </div>
                                        
<% } %>



<div style="page-break-before: always; page-break-after: always;">

                    
  <span style="font-size:18px; color:black;"><strong>
      <u><p>
          
        
  MySQL</p></u>
     
  </strong></span>
  
  <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">
  
    <p>  MySQL is an open source relational database management system (RDBMS) based on Structured Query Language (SQL). It is one part of the very popular LAMP platform consisting of Linux, Apache, My SQL, and PHP. Currently My SQL is owned by Oracle. My SQL database is available on most important OS platforms. It runs on BSD Unix, Linux, Windows, or Mac OS. Wikipedia and YouTube use My SQL. These sites manage millions of queries each day. My SQL comes in two versions: My SQL server system and My SQL embedded system.
  </p>
 <strong><p> RDBMS TERMINOLOGY</p></strong>

 <p> Before we proceed to explain MySQL database system, let's revise few definitions related to database.</p>

 <ul>
  <li><strong>Database: </strong> A database is a collection of tables, with related data.</li>
  <li><strong>Table: </strong> A table is a matrix with data. A table in a database looks like a simple spadsheet.</li>
  <li><strong>Column: </strong>One column (data element) contains data of one and the same kind, for example the column postcode.</li>
  <li><strong>Row: </strong> A row (= tuple, entry or record) is a group of related data, for example the data of one subscription.</li>
  <li><strong>Redundancy: </strong> Storing data twice, redundantly to make the system faster.</li>
  <li><strong>Primary Key: </strong> A primary key is unique. A key value cannot occur twice in one table. With a key, you can find at most one row.</li>
  <li><strong>Foreign Key: </strong> A foreign key is the linking pin between two tables.</li>
  <li><strong>Compound Key: </strong> A compound key (composite key) is a key that consists of multiple columns, because one column is not sufficiently unique.</li>
  <li><strong>Index: </strong> An index in a database resembles an index at the back of a book.</li>
  <li><strong>Referential Integrity: </strong>Referential Integrity makes sure that a foreign key value always points to an existing row.</li>
</ul>
  

<h5>🕑 5-15 minutes &mdash; To Create your file with &mdash; FileMakr</h5>
          
</div>


<div style="page-break-before: always; page-break-after: always;">
<span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">
 <strong><p>Hardware requirements</p></strong> 
  <table>
      <tr>
          <th>Number</th>
          <th>Description</th>
      </tr>
      <tr>
          <td>1</td>
          <td>PC with 250 GB or more Hard disk.</td>
      </tr>
      <tr>
          <td>2</td>
          <td>PC with 2 GB RAM.</td>
      </tr>
      <tr>
          <td>3</td>
          <td>PC with Pentium 1 and Above.</td>
      </tr>
  </table>
   
 <br> 

  <strong><p>Software requirements</p></strong>  

  <table>
      <tr>
          <th>Number</th>
          <th>Description</th>
          <th>Type</th>
      </tr>
      <tr>
          <td>1</td>
          <td> Operating System</td>
          <td>Windows XP / Windows</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Language</td>
          <td>PHP</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Database</td>
          <td>MySQL</td>
      </tr>
      <tr>
          <td>4</td>
          <td>IDE</td>
          <td>Visual Code</td>
      </tr>
      <tr>
          <td>5</td>
          <td>Browser</td>
          <td>Google Chrome</td>
      </tr>
  </table>
  
  

  
  </span><br><br>
  

          
  </div>

                                                      <div style="page-break-before: always; page-break-after: always;">


                                                        <span style="font-size:18px; color:black;">
                                                          <strong>
                                                            <u>
                                                              <p>


                                                                Advantages</p>
                                                            </u>

                                                          </strong>
                                                        </span>

                                                        <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                                                          <ul>
                                                            <li>
                                                              <%=result[13][0].advantage%>
                                                            </li>
                                                            <li>
                                                              <%=result[13][0].advantage1%>
                                                            </li>
                                                            <li>
                                                              <%=result[13][0].advantage2%>
                                                            </li>
                                                            <li>
                                                              <%=result[13][0].advantage3%>
                                                            </li>
                                                            <li>
                                                              <%=result[13][0].advantage4%>
                                                            </li>
                                                          </ul>



                                                          <span>
                                                          

                                                          </span>
                                                      </div>

                                                      <div style="page-break-before: always; page-break-after: always;">



                                                        <span style="font-size:18px; color:black;">
                                                          <strong>
                                                            <u>
                                                              <p>


                                                                Conclusion</p>
                                                            </u>

                                                          </strong>
                                                        </span>

                                                        <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">

                                                          <%=result[13][0].working_modules%>  
                                                        </span>
<br><br>
                                                      

                                                      </div>

                                                      <div style="page-break-before: always; page-break-after: always;">

                                                        <span style="font-size:18px; color:black;">
                                                          <strong>
                                                            <u>
                                                              <p>
                                                                Bibliography</p>
                                                            </u>

                                                          </strong>
                                                        </span>

                                                        <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2">


                                                          <ul>
                                                            <li>https://www.tutorialspoint.com/index.htm</li>
                                                            <li>https://www.javatpoint.com</li>
                                                            <li>https://www.w3schools.com</li>
                                                            <li>https://html.com</li>
                                                          </ul>

                                                        </span>

                                                      </div>


            </div>
    </section>
    <!-- #services -->
   

  <a href="" class="back-to-top edit" id="=result[0][0].id" seo_name="=result[0][0].seo_name">
    <i class="fa fa-download" onclick="printDiv('section-to-print')"></i>
  </a>
  
  <%include ./footer.ejs %>
</body>

<script>
  $('.download').click(function () {
window.print()
  })


function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

</script>

</html>