
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>
<script async src="//pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "pub-7230981653683251",
enable_page_level_ads: true
});
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-150389922-1');
</script>
<script data-ad-client="ca-pub-7230981653683251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="Customize —  Project File — "/>
    <meta name=keywords content="project file, top 100 projects"/>
  
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="Customize —  Project File — "/>
    <link rel="shortcut icon" type="images/x-icon" href="https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr. />
    
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="Customize —  Project File — "/>
    <meta property=og:title content="Customize —  Project File — "/>
    <meta property=og:type content="Customize —  Project File — "/>
    <meta property=og:url content="http://www.filemakr.com"/>
    <meta property=og:image content="http://www.filemakr.com/images/ogimage.jpg"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="Customize —  Project File — "/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="Customize —  Project File —"/>
   
    <link rel=canonical href="https://www.filemakr.com/cse//customization">
    <title>Customize Your Project File —  — Filemakr </title>

  <!-- Favicons -->
  <link href="https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif" rel="icon">
  <link href="/a/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

 
 <!-- Bootstrap CSS File -->
 <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" async>

 <!-- /a/libraries CSS Files -->
 <link href="/all.css" rel="preload" as="style" async>
 <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" async>
 <link href="/a/lib/ionicons/css/ionicons.min.css" rel="preload" as="style" async>
 <link href="/a/lib/lightbox/css/lightbox.min.css" rel="preload" as="style" async>

 <!-- Main Stylesheet File -->
 <link href="/a/css/style.css" rel="stylesheet" async>

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->


  <style>
    
    
      /* Please ❤ this if you like it! */
      
      
      @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
      
      
      :root {
        --white: #ffffff;
        --light: #f0eff3;
        --black: white;
        --dark-blue: #1f2029;
        --dark-light: #353746;
        --red: #da2c4d;
        --yellow: #f8ab37;
        --grey: #ecedf3;
      }
      
      /* #Primary
      ================================================== */
      
      body{
        width: 100%;
        background: var(--dark-blue);
        overflow-x: hidden;
          font-family: 'Poppins', sans-serif;
        font-size: 17px;
        line-height: 30px;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      p{
          font-family: 'Poppins', sans-serif;
        font-size: 17px;
        line-height: 30px;
        color: var(--white);
        letter-spacing: 1px;
        font-weight: 500;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      ::selection {
        color: var(--white);
        background-color: var(--black);
      }
      ::-moz-selection {
        color: var(--white);
        background-color: var(--black);
      }
      mark{
        color: var(--white);
        background-color: var(--black);
      }
      .section {
          position: relative;
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
      }
      .over-hide {
          overflow: hidden;
      }
      .z-bigger {
          z-index: 100 !important;
      }
      
      
      .background-color{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dark-blue);
        z-index: 1;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      .checkbox:checked ~ .background-color{
        background-color: var(--white);
      }
      
      
      [type="checkbox"]:checked,
      [type="checkbox"]:not(:checked),
      [type="radio"]:checked,
      [type="radio"]:not(:checked){
        position: absolute;
        left: -9999px;
        width: 0;
        height: 0;
        visibility: hidden;
      }
      .checkbox:checked + label,
      .checkbox:not(:checked) + label{
        position: relative;
        width: 70px;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        margin: 17px 0;
        margin-top: 100px;
        height: 6px;
        border-radius: 4px;
        background-image: linear-gradient(298deg, var(--red), var(--yellow));
        z-index: 100 !important;
      }
      .checkbox:checked + label:before,
      .checkbox:not(:checked) + label:before {
        position: absolute;
        font-family: 'unicons';
        cursor: pointer;
        top: -17px;
        z-index: 2;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      .checkbox:not(:checked) + label:before {
        content: '\eac1';
        left: 0;
        color: var(--grey);
        background-color: var(--dark-light);
        box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
      }
      .checkbox:checked + label:before {
        content: '\eb8f';
        left: 30px;
        color: var(--yellow);
        background-color: var(--dark-blue);
        box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
      }
      
      .checkbox:checked ~ .section .container .row .col-12 p{
        color: var(--dark-blue);
      }
      
      
      .checkbox-tools:checked + label,
      .checkbox-tools:not(:checked) + label{
        position: relative;
        display: inline-block;
        padding: 20px;
        width: 110px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        text-transform: uppercase;
        color: var(--white);
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      .checkbox-tools:not(:checked) + label{
        background-color: var(--dark-light);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      }
      .checkbox-tools:checked + label{
        background-color: transparent;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .checkbox-tools:not(:checked) + label:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .checkbox-tools:checked + label::before,
      .checkbox-tools:not(:checked) + label::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-image: linear-gradient(298deg, var(--red), var(--yellow));
        z-index: -1;
      }
      .checkbox-tools:checked + label .uil,
      .checkbox-tools:not(:checked) + label .uil{
        font-size: 24px;
        line-height: 24px;
        display: block;
        padding-bottom: 10px;
      }
      
      .checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
        background-color: var(--light);
        color: var(--dark-blue);
        box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
      }
      
      .checkbox-budget:checked + label,
      .checkbox-budget:not(:checked) + label{
        position: relative;
        display: inline-block;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 260px;
        font-size: 52px;
        line-height: 52px;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        text-transform: uppercase;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
        -webkit-text-stroke: 1px var(--white);
          text-stroke: 1px var(--white);
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          color: transparent;
      }
      .checkbox-budget:not(:checked) + label{
        background-color: var(--dark-light);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      }
      .checkbox-budget:checked + label{
        background-color: transparent;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .checkbox-budget:not(:checked) + label:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .checkbox-budget:checked + label::before,
      .checkbox-budget:not(:checked) + label::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-image: linear-gradient(138deg, var(--red), var(--yellow));
        z-index: -1;
      }
      .checkbox-budget:checked + label span,
      .checkbox-budget:not(:checked) + label span{
        position: relative;
        display: block;
      }
      .checkbox-budget:checked + label span::before,
      .checkbox-budget:not(:checked) + label span::before{
        position: absolute;
        content: attr(data-hover);
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        -webkit-text-stroke: transparent;
          text-stroke: transparent;
          -webkit-text-fill-color: var(--white);
          text-fill-color: var(--white);
          color: var(--white);
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        transition: max-height 0.3s;
      }
      .checkbox-budget:not(:checked) + label span::before{
        max-height: 0;
      }
      .checkbox-budget:checked + label span::before{
        max-height: 100%;
      }
      
      .checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
        background-color: var(--light);
        -webkit-text-stroke: 1px var(--dark-blue);
          text-stroke: 1px var(--dark-blue);
        box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
      }
      
      .checkbox-booking:checked + label,
      .checkbox-booking:not(:checked) + label{
        position: relative;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        text-align: center;
        padding: 0;
        padding: 6px 25px;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 16px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
          color: var(--white);
        text-transform: uppercase;
        background-color: var(--dark-light);
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      .checkbox-booking:not(:checked) + label::before{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      }
      .checkbox-booking:checked + label::before{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .checkbox-booking:not(:checked) + label:hover::before{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .checkbox-booking:checked + label::before,
      .checkbox-booking:not(:checked) + label::before{
        position: absolute;
        content: '';
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 4px;
        z-index: -2;
        background-image: linear-gradient(138deg, var(--red), var(--yellow));
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      .checkbox-booking:not(:checked) + label::before{
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
      }
      .checkbox-booking:checked + label::after,
      .checkbox-booking:not(:checked) + label::after{
        position: absolute;
        content: '';
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 4px;
        z-index: -2;
        background-color: var(--dark-light);
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      .checkbox-booking:checked + label::after{
        opacity: 0;
      }
      .checkbox-booking:checked + label .uil,
      .checkbox-booking:not(:checked) + label .uil{
        font-size: 20px;
      }
      .checkbox-booking:checked + label .text,
      .checkbox-booking:not(:checked) + label .text{
        position: relative;
        display: inline-block;
        -webkit-transition: opacity 300ms linear;
        transition: opacity 300ms linear;
      }
      .checkbox-booking:checked + label .text{
        opacity: 0.6;
      }
      .checkbox-booking:checked + label .text::after,
      .checkbox-booking:not(:checked) + label .text::after{
        position: absolute;
        content: '';
        width: 0;
        left: 0;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        background-image: linear-gradient(138deg, var(--red), var(--yellow));
        z-index: 1;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
      }
      .checkbox-booking:not(:checked) + label .text::after{
        width: 0;
      }
      .checkbox-booking:checked + label .text::after{
        width: 100%;
      }
      
      .checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label,
      .checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label{
        background-color: var(--light);
          color: var(--dark-blue);
      }
      .checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label::after,
      .checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label::after{
        background-color: var(--light);
      }
      
      
      
      
      .link-to-page {
        position: fixed;
          top: 30px;
          right: 30px;
          z-index: 20000;
          cursor: pointer;
          width: 30px;
      }
      .link-to-page img{
        width: 100%;
        height: auto;
        display: block;
      }
          
          </style>


  <style>
    * {
      box-sizing: border-box;
    }
    
    body {
      background-color: #f1f1f1;
    }
    
    #regForm {
      background-color: #ffffff;
      margin: 100px auto;
      font-family: Raleway;
      padding: 40px;
      width: 100%;
      min-width: 300px;
    }
    
    h1 {
      text-align: center;  
    }
    
    input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: Raleway;
      border: 1px solid #aaaaaa;
    }
    
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      background-color: #ffdddd;
    }
    
    /* Hide all steps by default: */
    .tab {
      display: none;
    }
    
    button {
      background-color: #4CAF50;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: Raleway;
      cursor: pointer;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    #prevBtn {
      background-color: #bbbbbb;
    }
    
    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;  
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }
    
    .step.active {
      opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #4CAF50;
    }
    </style>
    


</head>

<body>
  
  
    <%include ./navbar.ejs %>  

  <main id="main">

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          
 <br><br>
          <p></p>
        </header>

  
  <form id="regForm" action="/user-project/insert" method="post" enctype="multipart/form-data">
    <h5>Create Project File:</h5>
    <!-- One "tab" for each step in the form: -->





      
    <div class="tab">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-12">



                <div class="section over-hide z-bigger">
                    <div class="section over-hide z-bigger">
                      <div class="container pb-5">
                        <div class="row justify-content-center pb-5">
                          <div class="col-12 pb-5">
                            <input class="checkbox-booking" type="checkbox" value="<%=result[0].id%>" name="php" id="booking-1">
                            <label class="for-checkbox-booking" for="booking-1">
                              <i class='uil uil-coffee mr-3'></i><span class="text"><%=result[0].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[1].id%>" name="nodejs" id="booking-2">
                            <label class="for-checkbox-booking" for="booking-2">							
                              <i class='uil uil-restaurant mr-3'></i><span class="text"><%=result[1].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[2].id%>" name="angular" id="booking-3">
                            <label class="for-checkbox-booking" for="booking-3">							
                              <i class='uil uil-car-sideview mr-3'></i><span class="text"><%=result[2].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[3].id%>" name="react" id="booking-4">
                            <label class="for-checkbox-booking" for="booking-4">							
                              <i class='uil uil-flower mr-3'></i><span class="text"><%=result[3].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[4].id%>" name="java" id="booking-5">
                            <label class="for-checkbox-booking" for="booking-5">							
                              <i class='uil uil-wifi mr-3'></i><span class="text"><%=result[4].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[5].id%>" name="html" id="booking-6">
                            <label class="for-checkbox-booking" for="booking-6">							
                              <i class='uil uil-parking-square mr-3'></i><span class="text"><%=result[5].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[6].id%>" name="python" id="booking-7">
                            <label class="for-checkbox-booking" for="booking-7">							
                              <i class='uil uil-tv-retro mr-3'></i><span class="text"><%=result[6].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[7].id%>" name="javascript" id="booking-8">
                            <label class="for-checkbox-booking" for="booking-8">							
                              <i class='uil uil-books mr-3'></i><span class="text"><%=result[7].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[8].id%>" name="jquery" id="booking-9">
                            <label class="for-checkbox-booking" for="booking-9">							
                              <i class='uil uil-kayak mr-3'></i><span class="text"><%=result[8].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[9].id%>" name="json" id="booking-10">
                            <label class="for-checkbox-booking" for="booking-10">							
                              <i class='uil uil-glass-martini-alt mr-3'></i><span class="text"><%=result[9].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox"value="<%=result[10].id%>" name="css" id="booking-11">
                            <label class="for-checkbox-booking" for="booking-11">							
                              <i class='uil uil-dumbbell mr-3'></i><span class="text"><%=result[10].name%></span>
                            </label><!--
                            --><input class="checkbox-booking" type="checkbox" value="<%=result[11].id%>" name="bootstrap" id="booking-12">
                            <label class="for-checkbox-booking" for="booking-12">							
                              <i class='uil uil-sign-alt mr-3'></i><span class="text"><%=result[11].name%></span>
                            </label>
                          </div>
                        </div>
                      </div>	
                    </div>
                  </div>
                    
                

               
            </div>
          </div>
        </div>
              
       
      </div>
  


    <div class="tab">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-12">
              <label for="email">Personal Information:</label>
              <p><input placeholder="Full name..." oninput="this.className = ''" name="student_name" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-12">
              <p><input placeholder="Mobile Number..." oninput="this.className = ''" name="mobile_number" class="form-control"></p>
          </div>
        </div>
      </div>
            
     
    </div>
    <div class="tab">
        <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                  <label for="email">College Information:</label>
                  <p><input placeholder="College Name..." oninput="this.className = ''" name="college_name" class="form-control"></p>
              </div>
              <div class="col-md-6 col-lg-6">
                  <label for="email">College Address</label>
                  
                  <p><input placeholder="College Address..." oninput="this.className = ''" name="college_address" class="form-control"></p>
              </div>
              <div class="col-md-6 col-lg-6">
                  <p><input placeholder="Roll Number..." oninput="this.className = ''"  name="roll_number" class="form-control"></p>
              </div>
              <div class="col-md-6 col-lg-6">
                  <p><input placeholder="College Logo..." oninput="this.className = ''" type="file" name="college_logo" class="form-control"></p>
              </div>
            </div>
          </div>
     </div>
        
    <div class="tab">
        <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-12">
                  <label for="email">Project Details:</label>
                  <p><input placeholder="Project Name..." oninput="this.className = ''" name="project_name" class="form-control"></p>
              </div>
              <div class="col-md-6 col-lg-6">
                  <p><input placeholder="Aim..." oninput="this.className = ''" name="aim" class="form-control"></p>
              </div>
              <div class="col-md-6 col-lg-6">
                  <p><input placeholder="Overview..." oninput="this.className = ''"  name="overview" class="form-control"></p>
              </div>
              <div class="col-md-6 col-lg-6">
                  <p><input placeholder="Objective..." oninput="this.className = ''" type="text" name="objective" class="form-control"></p>
              </div>
              <div class="col-md-6 col-lg-6">
                <p><input placeholder="Conclusion..." oninput="this.className = ''" type="text" name="conclusion" class="form-control"></p>
            </div>
            </div>
          </div>
    </div>
    <div class="tab">
      

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-12">
              <label for="email">Project Details:</label>
              <p><input placeholder="Advantage..." oninput="this.className = ''" name="advantage" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <p><input placeholder="Another Advantage..." oninput="this.className = ''" name="advantage1" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <p><input placeholder="Another Advantage..." oninput="this.className = ''"  name="advantage2" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <p><input placeholder="Another Advantage..." oninput="this.className = ''" name="advantage3" name="college_logo" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
            <p><input placeholder="Another Advantage..." oninput="this.className = ''" name="advantage4" name="college_logo" class="form-control"></p>
        </div>
        </div>
      </div>

    </div>


    <div class="tab">
      

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-12">
              <label for="email">Faculity Details:</label>
              <p><input placeholder="Director Name..." oninput="this.className = ''" name="director_name" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <p><input placeholder="Professor Name..." oninput="this.className = ''" name="professor_name" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <p><input placeholder="Hod Name..." oninput="this.className = ''"  name="hod_name" class="form-control"></p>
          </div>
        </div>
      </div>

    </div>


    
    <div class="tab">
      

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-12">
              <label for="email">Affilated College Details:</label>
              <p><input placeholder="Affilated College Name..." oninput="this.className = ''" name="affilated_college_name" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <p><input placeholder="Affilated College Address..." oninput="this.className = ''" name="affilated_college_address" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <p><input type="file" oninput="this.className = ''"  name="affilated_college_logo" class="form-control"></p>
          </div>
        </div>
      </div>

    </div>






    <div class="tab">
      

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-12">
              <label for="email">Project Screenhot:</label>
              <label for="email">User's Login Page</label>
                
              <p><input type="file" oninput="this.className = ''"  name="index_page" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <label for="email">Database Page</label>
                
            <p><input type="file" oninput="this.className = ''"  name="database_page" class="form-control"></p>
            </div>
          <div class="col-md-6 col-lg-6">
              <label for="email">Css Code</label>
                
            <p><input type="file" oninput="this.className = ''"  name="front_page" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <label for="email">Admin Login Page</label>
                
            <p><input type="file" oninput="this.className = ''"  name="admin_page" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <label for="email">Admin Dashboard</label>
                
            <p><input type="file" oninput="this.className = ''"  name="dashboard_page" class="form-control"></p>
          </div>
          <div class="col-md-6 col-lg-6">
              <label for="email">Backend Code</label>
                
            <p><input type="file" oninput="this.className = ''"  name="user_page" class="form-control"></p>
          </div>
        </div>
      </div>

    </div>





    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      
      <span class="step"></span>
    </div>
  </form>


      </div>
      
    </section><!-- #services -->

    <%include ./footer.ejs %>  
  
  <script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab
  
  function showTab(n) {
    // This function will display the specified tab of the form...
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    //... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Submit";
    } else {
      document.getElementById("nextBtn").innerHTML = "Next";
    }
    //... and run a function that will display the correct step indicator:
    fixStepIndicator(n)
  }
  
  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("tab");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form...
    if (currentTab >= x.length) {
      // ... the form gets submitted:
      document.getElementById("regForm").submit();
      return false;
    }
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }
  
  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If a field is empty...
      if (y[i].value == "") {
        // add an "invalid" class to the field:
        y[i].className += " invalid";
        // and set the current valid status to false
        valid = false;
      }
    }
    // If the valid status is true, mark the step as finished and valid:
    if (valid) {
      document.getElementsByClassName("step")[currentTab].className += " finish";
    }
    return valid; // return the valid status
  }
  
  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class on the current step:
    x[n].className += " active";
  }
  </script>
  
  </body>
  </html>