<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>



<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '696702907369810');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=696702907369810&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->


    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="FileMakr - Download Your Project File - <%=result[3][0].name%> - <%=result[3][0].short_description%>"/>
    <meta name=keywords content="project file, top 100 projects"/>
  
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="FileMakr - Download Your Project File - <%=result[3][0].name%> - <%=result[3][0].short_description%>"/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr. />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="FileMakr - Download Your Project File - <%=result[3][0].name%> - <%=result[3][0].short_description%>"/>
    <meta property=og:title content="FileMakr - Download Your Project File - <%=result[3][0].name%> - <%=result[3][0].short_description%>"/>
    <meta property=og:type content="FileMakr - Download Your Project File - <%=result[3][0].name%> - <%=result[3][0].short_description%>"/>
    <meta property=og:url content="http://www.filemakr.com"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="FileMakr - Download Your Project File - <%=result[3][0].name%> - <%=result[3][0].short_description%>"/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="FileMakr - Download Your Project File - <%=result[3][0].name%> - <%=result[3][0].short_description%>"/>
   
    <link rel=canonical href="https://www.filemakr.com/customization/projects">

    <title>FileMakr — Download Project File — <%=result[3][0].name%> </title>

  <!-- Favicons -->
 <link href="/images/filemakr-project-file-creator-favicon.png" rel="icon">
 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" async>

  <!-- /a/libraries CSS Files -->
  <link href="/all.css" rel="preload" as="style" async>
  <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" async>
  <link href="/a/lib/ionicons/css/ionicons.min.css" rel="preload" as="style" async>
  <link href="/a/lib/lightbox/css/lightbox.min.css" rel="preload" as="style" async>

  <!-- Main Stylesheet File -->
  <link href="/a/css/style.css" rel="stylesheet" async>



<style type="text/css">


  .first{
    font-family:'Times New Roman', Times, serif;
    font-size:32px;
    font-weight:bold;
  }
  .second{
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
  }
  .third{
   font-family:'Times New Roman', Times, serif;
    font-size:16px;
    font-weight: bold; 
  }
  .fourth{
   font-family:'Times New Roman', Times, serif;
   font-size:16px;
   font-style: italic;
  }
   .fifth{
   font-family:'Times New Roman', Times, serif;
   font-size:22px;
   font-style: italic;
  }
  

@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");

.gantt {
  display: grid;
  border: 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 75px 125px -57px #7e8f94;
}
.gantt__row {
  display: grid;
  grid-template-columns: 150px 1fr;
  background-color: #fff;
}
.gantt__row:nth-child(odd) {
  background-color: #f5f5f5;
}
.gantt__row:nth-child(odd) .gantt__row-first {
  background-color: #f5f5f5;
}
.gantt__row:nth-child(3) .gantt__row-bars {
  border-top: 0;
}
.gantt__row:nth-child(3) .gantt__row-first {
  border-top: 0;
}
.gantt__row--empty {
  background-color: #ffd6d2 !important;
  z-index: 1;
}
.gantt__row--empty .gantt__row-first {
  border-width: 1px 1px 0 0;
}
.gantt__row--lines {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  grid-template-columns: 150px repeat(12, 1fr);
}
.gantt__row--lines span {
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.gantt__row--lines span.marker {
  background-color: rgba(10, 52, 68, 0.13);
  z-index: 2;
}
.gantt__row--lines:after {
  grid-row: 1;
  grid-column: 0;
  background-color: #1688b345;
  z-index: 2;
  height: 100%;
}
.gantt__row--months {
  color: #fff;
  background-color: #0a3444 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  grid-template-columns: 150px repeat(12, 1fr);
}
.gantt__row--months .gantt__row-first {
  border-top: 0 !important;
  background-color: #0a3444 !important;
}
.gantt__row--months span {
  text-align: center;
  font-size: 13px;
  align-self: center;
  font-weight: bold;
  padding: 20px 0;
}
.gantt__row-first {
  background-color: #fff;
  border-width: 1px 0 0 0;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  padding: 15px 0;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.gantt__row-bars {
  list-style: none;
  display: grid;
  padding: 9px 0;
  margin: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 8px 0;
  border-top: 1px solid rgba(221, 221, 221, 0.8);
}
.gantt__row-bars li {
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  min-height: 15px;
  background-color: #55de84;
  padding: 5px 12px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.gantt__row-bars li.stripes {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 12px);
}
.gantt__row-bars li:before, .gantt__row-bars li:after {
  content: "";
  height: 100%;
  top: 0;
  z-index: 4;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
.gantt__row-bars li:before {
  left: 0;
}
.gantt__row-bars li:after {
  right: 0;
}

tr{
  font-family:'Times New Roman', Times, serif;
    font-size:16px;
}
th{
 font-family:'Times New Roman', Times, serif;
    font-size:16px;
}





</style>

  
</head>

<body>

  

  <main id="main">

<!-- 
   <section id="services" class="section-bg">
      <div class="container">
          <header class="section-header">


       
 <br><br>
 

        </header>

</div>
</section> -->




 <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-12" id="section-to-print">




<!-- First Page -->


     <div class="col-12"  style="margin-left: 0px;margin-right: 20px;margin-top: 1%;">

        <div style="page-break-before: always; page-break-after: always;">

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
      
     </div>
      <div class="col-lg-6 col-md-4">
        <h3>Download Your Project Report Here..</h3>
         <h3 class="text-center">  <button class="btn btn-link " onclick="printDiv('section-to-print')">Click Here To Download Project Report</button></h3>
      </div>
      <div class="col-lg-2 col-md-4">
        
      </div>
    </div>
  </div>
</section>

     </div>
   </div>


<!-- First Page End -->

            

<!-- First Page -->


     <div class="col-12"  style="margin-left: 0px;margin-right: 20px;margin-top: 10%;">

        <div style="page-break-before: always; page-break-after: always;">

<p class="text-center first">Major Project Report On</p>
<p class="text-center first"> <%=result[3][0].name%></p>
<div class="text-center">
<img src="/images/<%=result[0][0].affilated_college_logo%>" alt=" <%=result[0][0].affilated_college_name%> collge logo" class="img" style="height: 190px">
</div>
<p class="text-center second" style="margin-top: 5%">By</p>
 <% if(result[0][0].friend == "null" || result[0][0].friend == null || result[0][0].friend == "" || result[0][0].friend == []) { %>
<p class="text-center third"> <%=result[0][0].name%> ( <%=result[0][0].roll_number%> )</p>
<% } else { %>
<p class="text-center third"> <%=result[0][0].name%> ( <%=result[0][0].roll_number%> )</p>
<p class="text-center third"> <%=result[0][0].friend%> ( <%=result[0][0].roll_number1%> )</p>
<p class="text-center third"> <%=result[0][0].friend1%> ( <%=result[0][0].roll_number2%> )</p>
<% } %>
<p class="text-center fourth">In partial fulfillment of requirements for the award of the degree  </p>
<p class="text-center third">Bachelor of Technology (<%=result[0][0].department%>)  </p>    
<p class="text-center third">(2020) </p>    
<p class="text-center fifth">Under the guidance of</p> 

<div class="row" style="margin-top: 10%">
<div class="col-6">
  <p class="text-center second"> <%=result[0][0].professor_name%></p>
  <p class="text-center second">Professor </p>

</div>
<div class="col-6">
  <p class="text-center second"> <%=result[0][0].hod_name%> </p>
  <p class="text-center second">HOD </p>

</div>
</div>
 <% if(result[0][0].friend == "null" || result[0][0].friend == null || result[0][0].friend == "" || result[0][0].friend == []) { %>
<div style="margin-top: 30%">
<p class="text-center" style=" font-family:'Times New Roman', Times, serif;font-size:28px;font-weight: bold;"> <%=result[0][0].college_name%> </p>  
 
<p class="text-center" style=" font-family:'Times New Roman', Times, serif;font-size:16px;"> <%=result[0][0].college_address%></p> 

</div>


<% } else { %>
<div style="margin-top: 15%">
<p class="text-center" style=" font-family:'Times New Roman', Times, serif;font-size:28px;font-weight: bold;"> <%=result[0][0].college_name%> </p>  
 
<p class="text-center" style=" font-family:'Times New Roman', Times, serif;font-size:16px;"> <%=result[0][0].college_address%></p> 

</div>


<% } %>


     </div>
   </div>


<!-- First Page End -->




<!-- Second Page -->

<div class="col-lg-12" style="margin-right: 20px;margin-top: 17%;">
  <div style="page-break-before: always; page-break-after: always;">
<div class="text-center">
<img src="/images/<%=result[0][0].college_logo%>" alt=" <%=result[0][0].college_name%> collge logo" class="img" style="height: 190px">
</div>

<p class="text-center" style="font-family:'Times New Roman', Times, serif;font-size:16px;font-weight: bold; margin-top: 5%"><%=result[0][0].college_name%> </p>

<p class="text-center" style="font-family:'Times New Roman', Times, serif;font-size:16px;font-weight: bold; ">Department of <%=result[0][0].department%></p>

<p class="text-center" style="font-family:'Times New Roman', Times, serif;font-size:22px;font-weight: bold;"><u>Certificate</u></p>




<p class="text-justify" style="font-family:'Times New Roman', Times, serif;font-size:16px;line-height: 50px;">
  This is to certify that
<% if(result[0][0].friend == "null" || result[0][0].friend == null || result[0][0].friend == "" || result[0][0].friend == []) { %>
   <%=result[0][0].name%> (<%=result[0][0].roll_number%>),
<% } else { %>
  <%=result[0][0].name%> (<%=result[0][0].roll_number%>) and His/Her Friend,
<% } %>
    student of  Bachelor of Technology, <%=result[0][0].semester%>, Department of <%=result[0][0].department%> of <%=result[0][0].college_name%>, has pursued the Major Project titled “<%=result[3][0].name%>” under the supervision of <%=result[0][0].hod_name%>, Head Of Department (HOD) and Internal guide <%=result[0][0].professor_name%> and the report has been submitted in partial fulfillment of requirements for the award of the degree, Bachelor of Technology in <%=result[0][0].department%> by <%=result[0][0].college_name%> in the Year 2020.</p>


<div class="row" style="margin-top: 10%">
<div class="col-6">
  <p class="text-center second"><%=result[0][0].professor_name%></p>
  <p class="text-center second">Professor </p>

</div>
<div class="col-6">
  <p class="text-center second"><%=result[0][0].hod_name%></p>
  <p class="text-center second">HOD </p>

</div>
</div>

</div>
</div>

<!-- Second Page End -->






<!-- Third Page -->

<div class="col-lg-12" style="margin-right: 20px;margin-top: 17%;height: 1000px">
  <div style="page-break-before: always; page-break-after: always;">
<div class="text-center">
<img src="/images/<%=result[0][0].college_logo%>" alt=" <%=result[0][0].college_name%> collge logo" class="img" style="height: 190px">

</div>
<p class="text-center" style="font-family:'Times New Roman', Times, serif;font-size:16px;font-weight: bold;margin-top: 5% "><%=result[0][0].college_name%></p>
<p class="text-center" style="font-family:'Times New Roman', Times, serif;font-size:16px;font-weight: bold; ">Department of <%=result[0][0].department%></p>
<p class="text-center" style="font-family:'Times New Roman', Times, serif;font-size:22px;font-weight: bold;"><u>Certificate</u></p>
<p class="text-justify" style="font-family:'Times New Roman', Times, serif;font-size:16px;line-height: 50px;">
  This is to certify that
<% if(result[0][0].friend == "null" || result[0][0].friend == null || result[0][0].friend == "" || result[0][0].friend == []) { %>
   <%=result[0][0].name%> (<%=result[0][0].roll_number%>),
<% } else { %>
  <%=result[0][0].name%> (<%=result[0][0].roll_number%>) and His/Her Friend,
<% } %>
 student of  Bachelor of Technology, <%=result[0][0].semester%>, Department of <%=result[0][0].department%> of <%=result[0][0].college_name%>, has pursued the Major Project titled “<%=result[3][0].name%>” under the supervision of <%=result[0][0].hod_name%>, Head Of Department (HOD) and Internal guide <%=result[0][0].professor_name%> and the report has been submitted in partial fulfillment of requirements for the award of the degree, Bachelor of Technology in <%=result[0][0].department%> by <%=result[0][0].college_name%> in the Year 2020.</p>


<div class="row" style="margin-top: 10%">
<div class="col-6">
  <p class="text-center second">External Examiner</p>
  <p class="text-center second">Signature</p>

</div>
<div class="col-6">
  <p class="text-center second">Internal Examiner</p>
  <p class="text-center second">Signature</p>

</div>
</div>



</div>

</div>


<!-- Third Page End -->





          </div>
          
       
        </div>
      </div>

    </section>


 

     <!-- JavaScript /a/libraries -->
     <script src="/javascripts/jquery.js"></script>
     <script rel="preload" src="/javascripts/all.js" as="script" async></script>
   
    
   <!-- Begin Inspectlet Asynchronous Code -->
 <script type="text/javascript">
   (function() {
   window.__insp = window.__insp || [];
   __insp.push(['wid', 1468473231]);
   var ldinsp = function(){
   if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1468473231&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
   setTimeout(ldinsp, 0);
   })();
   </script>
   <!-- End Inspectlet Asynchronous Code -->
 
 
   
     <!-- Template Main Javascript File -->
     
</body>

<script>
  $('.download').click(function () {
window.print()
  })


function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

</script>

</html>