<!DOCTYPE html>
<html lang="en">
<head>

    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="<%=result[0][0].short_description%>"/>
    <meta name="abstract" content="<%=result[0][0].short_description%>"/>
   <meta name=keywords content="project file, top 100 projects"/>
    
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
     <meta name=classification content="<%=result[0][0].short_description%>"/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr. />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="<%=result[0][0].name%> project report"/>
    <meta property=og:title content="<%=result[0][0].name%>  project report"/>
    <meta property=og:type content="article"/>
    <meta property=og:url content="https://www.filemakr.com/btech-final-year-project-report-<%=result[0][0].seo_name%>"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="<%=result[0][0].short_description%>"/>
    <meta property="article:section" content="Engineering/Diploma/Bsc-IT/Msc-IT Projects" />
    <meta property="article:publisher" content="https://www.facebook.com/FileMakr/" />
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
     <link rel=canonical href="https://www.filemakr.com/btech-final-year-project-report-<%=result[0][0].seo_name%>">
    <title>B.Tech Project Report Of <%=result[0][0].name%> — Filemakr </title>


    <script type='application/ld+json'> 
      {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "Filemakr",
        "url": "https://www.filemakr.com/",
        "logo": "https://filemakr.com/images/filemakr-project-file-creator-favicon.png",
        "image": "https://filemakr.com/images/filemakr-project-file-creator-favicon.png",
        "description": "FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Lohiya Bazar , Morena ( M.P. )",
          "addressLocality": "Morena",
          "addressRegion": "Madhya Pradesh",
          "postalCode": "476001",
          "addressCountry": "India"
        },
        "hasMap": "https://maps.google.com/maps?cid=11640350780477821709",
      "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "00:00",
          "closes": "23:59"
        },
        "sameAs": [
          "https://www.facebook.com/FileMakr",
          "https://twitter.com/FileMakr",
          "instagram.com/filemakr/",
          "https://www.filemakr.com"
        ]
      },
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+918319339945",
          "contactType": "general"
        }
      }
       </script>

  <!-- Favicons -->
  <link href="/images/filemakr-project-file-creator-favicon.png" rel="icon">
 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" async>

  <!-- /a/libraries CSS Files -->
  <link href="/all.css" rel="preload" as="style" async>
  <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" async>
  <link href="/a/lib/ionicons/css/ionicons.min.css" rel="preload" as="style" async>
  <link href="/a/lib/lightbox/css/lightbox.min.css" rel="preload" as="style" async>

  <!-- Main Stylesheet File -->
  <link href="/a/css/style.css" rel="stylesheet" async>



<style type="text/css">


  .first{
    font-family:'Times New Roman', Times, serif;
    font-size:24px;
    font-weight:bold;
  }
  .second{
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
  }
  .third{
   font-family:'Times New Roman', Times, serif;
    font-size:18px;
    font-weight: bold; 
  }
  .fourth{
   font-family:'Times New Roman', Times, serif;
   font-size:18px;
   font-style: italic;
  }
   .fifth{
   font-family:'Times New Roman', Times, serif;
   font-size:12x;
   font-style: italic;
  }
  
</style>

  
</head>

<body>





    <%include ../navbar.ejs %>  
  

  <main id="main">


   <section id="services" class="section-bg" style="background-color: whitesmoke;">
      <div class="container">
          <header class="section-header">

 <br><br><br><br><br><br>
          

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7" style="background-color:white;text-align: left;padding: 20px;">
      <h4 style="text-align: left;font-weight: bold;margin-top: 10px;">Live Preview</h4>

 <iframe frameborder="0" allowtransparency="true" allowFullscreen="true" style="width: 100%; height: 480px; border: none;" src="https://online.visual-paradigm.com/share/book/filemakr-download-project-file-smart-attendance-147asny9mg?p=1"></iframe>

      <h4 style="text-align: left;font-weight: bold;margin-top: 10px;"><%=result[0][0].name%> Project Report</h4>
      <p style="text-align: left;width: 100%;line-height:30px ;"><%=result[0][0].overview%></p>
      <h4 style="text-align: left;font-weight: bold;">About <%=result[0][0].name%> Project</h4>

      <p style="text-align: left;width: 100%;line-height:30px ;"><%=result[0][0].objective%></p>


  


    </div>
    <div class="col-lg-5">

      <div class="card" >
        <div class="card-body">
          <h4 style="text-align: left;font-weight: bold;">Project Report Includes </h4>
           <div class="row">
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">ER Diagram</div>
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">DFD Diagram</div>
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">Waterfall Model</div>

            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">Flow Chart</div>
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">Technology</div>
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">Testing Case</div>
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">Refferences</div>
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">Indexing</div>
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">IEEE Standard</div>
            <div class="col-lg-6 mt-2"><img src='/images/check-mark.png' style="width: 20px;">Gantt Chart</div>
         



           </div>
       
          <!-- <a href="#" class="card-link">Preview</a> -->
 <h3><button class="btn btn-primary btn-lg btn-block edit" style="float:center;margin-top:20px ;" id="<%=result[0][0].id%>" seo_name="<%=result[0][0].seo_name%>">Edit File</button></h3>



        </div>
      </div>
     
    </div>
  </div>
</div>

 <br><br>
 
        

                  


        </header>

</div>
</section>



<section id="services" class="section-bg" style="background-color: whitesmoke;">
  <div class="container">

 <div class="row">
            <div class="col-md-12 text-center heading-main">
                <h2 class="heading">B.Tech Trending Project Report</h2>

            </div>
        </div>  

    <div class="row">

      <% for(i=0;i<9;i++){ %>
      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <h4 class="title"><a href="/btech-final-year-project-report-<%=result[2][i].seo_name%>"><%=result[2][i].name%></a></h4>
          <p class="description"><%=result[2][i].short_description%></p>
        </div>
      </div>
      <% } %>
    

    </div>

  </div>
</section><!-- #services -->



 
  <a href="" class="back-to-top edit" id="<%=result[0][0].id%>" seo_name="<%=result[0][0].seo_name%>"><i class="fa fa-chevron-p">Edit</i></a>
    
  <%include ../footer.ejs %>  
  
</body>

<script>
$('.edit').click(function(){
    const seo_name = $(this).attr('seo_name')
    window.location.href='/btech-final-year-project-report-'+seo_name+'/edit';
  
})
</script>



</html>
