<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamslms.dreamguystech.com/html/course-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2023 14:00:18 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">






<meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="<%=result[0][0].short_description%>"/>
    <meta name="abstract" content="<%=result[0][0].short_description%>"/>
   <meta name=keywords content="project file, top 100 projects"/>
    
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
     <meta name=classification content="<%=result[0][0].short_description%>"/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr. />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="<%=result[0][0].name%> project report"/>
    <meta property=og:title content="<%=result[0][0].name%>  project report"/>
    <meta property=og:type content="article"/>
    <meta property=og:url content="https://www.filemakr.com/final-year-project-report-<%=result[0][0].seo_name%>"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="<%=result[0][0].short_description%>"/>
    <meta property="article:section" content="Engineering/Diploma/Bsc-IT/Msc-IT Projects" />
    <meta property="article:publisher" content="https://www.facebook.com/FileMakr/" />
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
     <link rel=canonical href="https://www.filemakr.com/final-year-project-report-<%=result[0][0].seo_name%>">
    <title>Project Report Of <%=result[0][0].name%> — Filemakr </title>


    <script type='application/ld+json'> 
      {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "Filemakr",
        "url": "https://www.filemakr.com/",
        "logo": "https://filemakr.com/images/filemakr-project-file-creator-favicon.png",
        "image": "https://filemakr.com/images/filemakr-project-file-creator-favicon.png",
        "description": "FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Lohiya Bazar , Morena ( M.P. )",
          "addressLocality": "Morena",
          "addressRegion": "Madhya Pradesh",
          "postalCode": "476001",
          "addressCountry": "India"
        },
        "hasMap": "https://maps.google.com/maps?cid=11640350780477821709",
      "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "00:00",
          "closes": "23:59"
        },
        "sameAs": [
          "https://www.facebook.com/FileMakr",
          "https://twitter.com/FileMakr",
          "https://instagram.com/filemakr/",
          "https://www.filemakr.com",
          https://www.linkedin.com/company/filemakr/

        ]
      },
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+918319339945",
          "contactType": "general"
        }
      }
       </script>




<title>Dreams LMS</title>

<link rel="shortcut icon" type="image/x-icon" href="/images/filemakr-project-file-creator-favicon.png">

<link rel="stylesheet" href="/design/css/bootstrap.min.css">

<link rel="stylesheet" href="/design/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/design/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/design/css/feather.css">

<link rel="stylesheet" href="/design/css/style.css">

<style>
@media only screen and (max-width: 1000px) {
  .left {
    margin-top: 200px;
    position: absolute;
  }
  .right {
    position: absolute;
  }
}
</style>


</head>
<body>

<div class="main-wrapper">

  <%include ../header1.ejs %>  



<div class="breadcrumb-bar">
<div class="container">
<div class="row">
<div class="col-md-12 col-12">
<div class="breadcrumb-list">
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item" aria-current="page"><%=result[0][0].name%> Project Report</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>


<div class="inner-banner">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="instructor-wrap border-bottom-0 m-0">
<div class="about-instructor align-items-center">



</div>
<span class="web-badge mb-3">WEB DEVELPMENT</span>
</div>
<h2><%=result[0][0].name%> Project Report</h2>
<!-- <p>Learn Web Development by building 25 websites and mobile apps using HTML, CSS, Javascript, PHP, Python, MySQL & more!</p> -->
<div class="course-info d-flex align-items-center border-bottom-0 m-0 p-0">
<div class="cou-info">
<img src="/design/img/icon/icon-01.svg" alt="">
<p>35+ Pages</p>
</div>
<div class="cou-info">
<img src="/design/img/icon/timer-icon.svg" alt="">
<p>Customize Your Project Report in 10 Minutes - Get Results Fast!</p>
</div>

</div>
</div>
</div>
</div>
</div>


<section class="page-content course-sec">
<div class="container">
<div class="row">
<div class="col-lg-8">

<div class="card overview-sec">
<div class="card-body">
<h5 class="subs-title">Overview</h5>
<p><%=result[0][0].overview%>  </p>


<h5 class="subs-title">Objective</h5>
<p><%=result[0][0].objective%>  </p>


<h5 class="subs-title">Aim</h5>
<p><%=result[0][0].aim%>  </p>



</div>
</div>


<div class="card content-sec">
<div class="card-body">
<div class="row">
<div class="col-sm-6">
<h5 class="subs-title">Project Report Content</h5>
</div>

</div>
<div class="course-card">
<h6 class="cou-title">
<a class="collapsed" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="false">Introduction</a>
</h6>
<div id="collapseOne" class="card-collapse collapse" style="">
<ul>


<li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Introduction</p></li>
<li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">AIM</p></li>
<li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Existing System</p></li>
<li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Proposed System</p></li>
<li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Feasibility Study</p></li>
<li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Project Work Schedule</p></li>
<li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Organization of Report</p></li>


</ul>
</div>
</div>
<div class="course-card">
<h6 class="cou-title">
<a class="collapsed" data-bs-toggle="collapse" href="#course2" aria-expanded="false">Software Requirements Specification</a>
</h6>
<div id="course2" class="card-collapse collapse" style="">
<ul>
  <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Hardware Requirements</p></li>
  <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Software Requirements</p></li>



</ul>
</div>
</div>





<div class="course-card">
<h6 class="cou-title">
<a class="collapsed" data-bs-toggle="collapse" href="#course3" aria-expanded="false">Design & Planning</a>
</h6>
<div id="course3" class="card-collapse collapse" style="">
  <ul>
    <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Software Development Life Cycle Model</p></li>
    <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">General Overview</p></li>
    <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Use Flow Diagram</p></li>
    <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">ER Diagram</p></li>
    <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">DFD Diagram</p></li>


  
  
  
  </ul>
</div>
</div>



<div class="course-card">
  <h6 class="cou-title">
  <a class="collapsed" data-bs-toggle="collapse" href="#course7" aria-expanded="false">Implementation Details</a>
  </h6>
  <div id="course7" class="card-collapse collapse" style="">
  <ul>
    <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Front End Technology</p></li>
    <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Back End Technology</p></li>
  
  
  
  </ul>
  </div>
  </div>



  <div class="course-card">
    <h6 class="cou-title">
    <a class="collapsed" data-bs-toggle="collapse" href="#course8" aria-expanded="false">Testing</a>
    </h6>
    <div id="course8" class="card-collapse collapse" style="">
    <ul>
      <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Unit Testing</p></li>
      <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Integration Testing</p></li>
      <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Software Verification & Validation</p></li>
      <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Black-Box Testing</p></li>
      <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">White-Box Testing</p></li>
      <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">System Testing</p></li>

    
    
    
    </ul>
    </div>
    </div>



    <div class="course-card">
      <h6 class="cou-title">
      <a class="collapsed" data-bs-toggle="collapse" href="#course9" aria-expanded="false">Other Important Section</a>
      </h6>
      <div id="course9" class="card-collapse collapse" style="">
      <ul>
        <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Result</p></li>
        <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Advantages</p></li>
        <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Conclusion</p></li>
        <li><p><img src="/design/img/icon/play.svg" alt="" class="me-2">Bibliography</p></li>

      
      
      
      </ul>
      </div>
      </div>









</div>
</div>







</div>
<div class="col-lg-4">
<div class="sidebar-sec">

<div class="video-sec vid-bg">
<div class="card">
<div class="card-body">
<a href="https://online.visual-paradigm.com/share/book/filemakr-download-project-file-smart-attendance-147asny9mg?p=1" target="_blank" class="video-thumbnail" data-fancybox="">
<div class="play-icon">
<i class="fa-solid fa-play"></i>
</div>
<img class="" src="/design/img/video.jpg" alt="">
</a>
<div class="video-details">
<div class="course-fee">
<h2>Rs. 10 </h2>
<p><span>Rs 20</span> 50% off</p>
</div>
<div class="row gx-2">
<div class="col-md-12">
<a href="https://online.visual-paradigm.com/share/book/filemakr-download-project-file-smart-attendance-147asny9mg?p=1" target="_blank" class="btn btn-wish w-100"><i class="fa-solid fa-play"> </i> Live Preview</a>
</div>

</div>




<div class="row gx-2">
    <div class="col-md-6">
    <a  class="btn btn-wish w-100 edit" id="<%=result[0][0].id%>" seo_name="<%=result[0][0].seo_name%>" typefile="mtech">M.Tech EDIT FILE</a>
    </div>
    <div class="col-md-6">
        <a  class="btn btn-wish w-100 edit" id="<%=result[0][0].id%>" seo_name="<%=result[0][0].seo_name%>" typefile="btech">B.Tech EDIT FILE</a>

    </div>
    </div>



    <div class="row gx-2">
        <div class="col-md-6">
        <a  class="btn btn-wish w-100 edit" id="<%=result[0][0].id%>" seo_name="<%=result[0][0].seo_name%>" typefile="me">M.E. EDIT FILE</a>
        </div>
        <div class="col-md-6">
            <a  class="btn btn-wish w-100 edit" id="<%=result[0][0].id%>" seo_name="<%=result[0][0].seo_name%>" typefile="be">B.E. EDIT FILE</a>
    
        </div>
        </div>



        <div class="row gx-2">
            <div class="col-md-6">
            <a  class="btn btn-wish w-100 edit" id="<%=result[0][0].id%>" seo_name="<%=result[0][0].seo_name%>" typefile="mca">MCA EDIT FILE</a>
            </div>
            <div class="col-md-6">
                <a  class="btn btn-wish w-100 edit" id="<%=result[0][0].id%>" seo_name="<%=result[0][0].seo_name%>" typefile="bca">BCA EDIT FILE</a>
        
            </div>
            </div>

</div>
</div>
</div>
</div>


<div class="card include-sec">
<div class="card-body">
<div class="cat-title">
<h4>Includes</h4>
</div>
<ul>
<li><img src="/design/img/icon/import.svg" class="me-2" alt=""> ER Diagram</li>
<li><img src="/design/img/icon/play.svg" class="me-2" alt=""> DFD Diagram</li>
<li><img src="/design/img/icon/key.svg" class="me-2" alt=""> Waterfall Model</li>
<li><img src="/design/img/icon/mobile.svg" class="me-2" alt=""> Flow Chart</li>
<li><img src="/design/img/icon/cloud.svg" class="me-2" alt=""> Technology</li>
<li><img src="/design/img/icon/teacher.svg" class="me-2" alt=""> Testing Case</li>


<li><img src="/design/img/icon/key.svg" class="me-2" alt="">Refferences</li>
<li><img src="/design/img/icon/mobile.svg" class="me-2" alt=""> Indexing</li>
<li><img src="/design/img/icon/cloud.svg" class="me-2" alt=""> IEEE Standard</li>
<li><img src="/design/img/icon/teacher.svg" class="me-2" alt=""> Gantt Chart</li>

</ul>
</div>
</div>




</div>
</div>





<div class="container">

  <div class="section-header aos" data-aos="fade-up">
    <div class="section-sub-head">
      <h2>Other Project Report</h2>
    </div>
    <div class="all-btn all-category d-flex align-items-center">
    <a href="/project-ideas" class="btn btn-primary">View All</a>
    </div>
    </div>
  <div class="row">




    <% for(i=0;i<12;i++){%>

    <div class="col-lg-3 col-md-6 d-flex">
      <div class="course-box course-design d-flex ">
      <div class="product">
      
      <div class="product-content">
      <div class="course-group d-flex">
      <div class="course-group-img d-flex">
      <div class="course-name">
      <h4><a href="/final-year-project-report-<%=result[2][i].seo_name%>"><%=result[2][i].name%></a></h4>
      </div>
      </div>
     
      </div>
      <p class="description"><%=result[2][i].short_description%></p>
     
      </div>
      </div>
      </div>
      </div>

<% } %>

      
    
  </div>
</div>




</div>
</div>
</section>


<%include ../footer.ejs %>  


<!-- </div> -->



<script>
  $('.edit').click(function(){
      const seo_name = $(this).attr('seo_name')
      const original_name = $(this).attr('typefile')
      // window.location.href='/${original_name}-final-year-project-report-'+seo_name+'/edit';
      window.location.href= `${original_name}-final-year-project-report-${seo_name}/edit`;
    
  })
  </script>


</body>

<!-- Mirrored from dreamslms.dreamguystech.com/html/course-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2023 14:01:26 GMT -->
</html>