<%include ./header.ejs %>  


    <!-- main area part start -->
    <main>

      <section class="content-box-area mt-4">
        <div class="container">
          <div class="row g-4">
            <%include ./profilecard.ejs %>  

            <div class="col-xl-8">
              <div class="card content-box-card">
                <div class="card-body portfolio-card">
                  <div class="top-info">
                    <div class="text">
                      <h1 class="main-title">Check Out My Latest <span><%= folderName.charAt(0).toUpperCase() + folderName.slice(1).toLowerCase() %> Works
                      </span></h1>
                      <p>I'm here to help if you're looking for a <%=folderName.toLowerCase()%> to bring your ideas to life or a design partner to elevate your business to the next level.</p>
                    </div>
                  </div>
                  <div class="portfolio-area">
                    <div class="row g-4 parent-container">
                        <% for(i = 0; i < result.length; i++) { 
                            let fileExtension = result[i].image_url.split('.').pop().toLowerCase(); 
                        %>
                            <div class="col-lg-4">
                                <div class="portfolio-item">
                                   
                                        <% if (fileExtension === "mp4") { %>
                                            <video controls class="img-fluid w-100">
                                                <source src="<%= result[i].image_url %>" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                            <!-- Open video in a new tab -->
                                            
                                        <% } else { %>
                                            <div class="image">
                                            <img src="<%= result[i].image_url %>" alt="project-1" class="img-fluid w-100">
                                            <a href="<%= result[i].image_url %>" class="gallery-popup full-image-preview parent-container">
                                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
                                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                                    <path d="M10 4.167v11.666M4.167 10h11.666"></path>
                                                </svg>
                                            </a>
                                    </div>

                                        <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    
                  
                  </div>

                  <div class="work-together-slider">
                    <div class="slider-main d-flex gap-4 align-items-center">
                      <div class="slider-item">
                        <a href="contact.html">Let's 👋 Work Together</a>
                        <a href="contact.html">Let's 👋 Work Together</a>
                      </div>
                      <div class="slider-item">
                        <a href="contact.html">Let's 👋 Work Together</a>
                        <a href="contact.html">Let's 👋 Work Together</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- background shape area start -->
      <div class="background-shapes">
        <div class="shape-1 common-shape">
          <img src="/subdomain_manisha/assets/img/bg/banner-shape-1.png" alt="banner-shape-1">
        </div>
        <div class="shape-2 common-shape">
          <img src="/subdomain_manisha/assets/img/bg/banner-shape-1.png" alt="banner-shape-1">
        </div>
        <div class="threed-shape-1 move-with-cursor" data-value="1">
          <img src="/subdomain_manisha/assets/img/bg/object-3d-1.png" alt="object-3d-1">
        </div>
        <div class="threed-shape-2 move-with-cursor" data-value="1">
          <img src="/subdomain_manisha/assets/img/bg/object-3d-2.png" alt="object-3d-2">
        </div>
      </div>
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->

    <!-- footer part start -->
   
    <!-- footer part end -->
  </div>

  <!-- JS here -->
  <%include ./footer.ejs %>  

</body>



<!-- Mirrored from marveltheme.com/tf/html/bentofolio-html/portfolio.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 12:56:29 GMT -->
</html>