<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>
<script async src="//pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "pub-7230981653683251",
enable_page_level_ads: true
});
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150389922-1');
</script>
<script data-ad-client="ca-pub-7230981653683251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="Edit MCA Final Year Project Report of <%=result[0][0].name%> — <%=result[0][0].short_description%>"/>
    <meta name=keywords content="project file,<% for(i=0;i<result.length;i++){ %> <%=result[i].name%>, <%}%> top 100 projects"/>
  
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="Edit MCA Final Year Project Report of <%=result[0][0].name%> — <%=result[0][0].short_description%>"/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr. />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="Edit MCA Final Year Project Report of <%=result[0][0].name%> — <%=result[0][0].short_description%>"/>
    <meta property=og:title content="Edit MCA Final Year Project Report of <%=result[0][0].name%> — <%=result[0][0].short_description%>"/>
    <meta property=og:type content="Edit MCA Final Year Project Report of <%=result[0][0].name%> — <%=result[0][0].short_description%>"/>
    <meta property=og:url content="http://www.filemakr.com"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="Edit MCA Final Year Project Report of <%=result[0][0].name%> — <%=result[0][0].short_description%>"/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="Edit MCA Final Year Project Report of <%=result[0][0].name%> — <%=result[0][0].short_description%>"/>
   
    <link rel=canonical href="https://www.filemakr.com/mca-final-year-project-report-<%=result[0][0].name%>/edit">
    <title>Edit MCA Final Year Project Report of <%=result[0][0].name%> — Filemakr </title>

  <!-- Favicons -->
  <link href="/images/filemakr-project-file-creator-favicon.png" rel="icon">
  <link href="/a/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

 
 <!-- Bootstrap CSS File -->
 <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" async>

 <!-- /a/libraries CSS Files -->
 <link href="/all.css" rel="preload" as="style" async>
 <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" async>
 <link href="/a/lib/ionicons/css/ionicons.min.css" rel="preload" as="style" async>
 <link href="/a/lib/lightbox/css/lightbox.min.css" rel="preload" as="style" async>

 <link rel="stylesheet" type="text/css" href="https://codepen.io/webdevstudios/pen/bbdbe3bb781b9424610529ffea82ce3b">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">

 <!-- Main Stylesheet File -->
 <link href="/a/css/style.css" rel="stylesheet" async>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->



  <style type="text/css">
 

.filelabel {
    
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 10px;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
.filelabel i {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
}
.filelabel i,
.filelabel .title {
  color: grey;
  transition: 200ms color;
}
.filelabel:hover {
  border: 2px solid #1665c4;
}
.filelabel:hover i,
.filelabel:hover .title {
  color: #1665c4;
}
#FileInput{
    display:none;
}
#FileInput1{
    display:none;
}


.filelabel1 {
    
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 10px;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
.filelabel1 i {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
}
.filelabel1 i,
.filelabel1 .title {
  color: grey;
  transition: 200ms color;
}
.filelabel1:hover {
  border: 2px solid #1665c4;
}
.filelabel1:hover i,
.filelabel1:hover .title {
  color: #1665c4;
}


/** BEGIN CSS NEEDED FOR SWITCH **/

.on-off-toggle {
  width: 56px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.on-off-toggle__slider {
  
  height: 24px;
  display: block;
  border-radius: 34px;
  background-color: #d8d8d8;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
  
}

.on-off-toggle__slider:before {
    content: '';
    display: block;
    background-color: #fff;
    box-shadow: 0 0 0 1px #949494;
    bottom: 3px;
    height: 18px;
    left: 3px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    width: 18px;
    z-index: 5;
    border-radius: 100%;
  }

.on-off-toggle__slider:after {
    display: block;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    content: '';
    color: #484848;
    padding-left: 26px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

.on-off-toggle__input {
  /*
    This way of hiding the default input is better 
    for accessibility than using display: none;
  */
  position: absolute;
  opacity: 0;
}

.on-off-toggle__input:checked + 
.on-off-toggle__slider {
  background-color: #53d769;
}

.on-off-toggle__input:checked + 
.on-off-toggle__slider:before {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }

.on-off-toggle__input:checked + 
.on-off-toggle__slider:after {
    content: '';
    color: #FFFFFF;
    padding-left: 8px;
  }

/*** END CSS NEEDED FOR SWITCH **/






</style>


</head>

<body>
 
    <%include ../navbar.ejs %>  
  <main id="main">


 <section id="services" class="section-bg">
      <div class="container">
          <header class="section-header">

 <br><br><br><br><br><br>
          
  <h3>Edit <%=result[0][0].name%> Project Report</h3>
 
 <br><br>
 
        

                  


        </header>

</div>
</section>



   <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-md-2">
            
          </div>

          <div class="col-lg-8 col-md-8">
            <!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Edit Report</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0" style="margin-top: 10px;">

        <!-- Form -->

    <form action="/mca-final-year-project-report/insert" method="post" enctype="multipart/form-data" class="text-center" style="color: #757575;">





            <div class="form-row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- First name -->
                    <div class="md-form">
                          <input type="text" id="materialRegisterFormName" class="form-control" name="name" required>
                        <label for="materialRegisterFormName">Full name</label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="number" id="materialRegisterFormNumber" class="form-control" name="number" required>
                        <label for="materialRegisterFormNumber">Mobile Number</label>
                    </div>
                </div>
            </div>


              <div class="form-row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- First name -->
                    <div class="md-form">
                         <input type="text" id="materialRegisterFormCollegeName" class="form-control" name="college_name" required>
                        <label for="materialRegisterFormCollegeName">College name</label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormRollNumber" class="form-control" name="roll_number" required>
                        <label for="materialRegisterFormRollNumber">Roll Number</label>
                    </div>
                </div>
            </div>

  <div class="form-row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- First name -->
                    <div class="md-form">
                          <select class="form-control" name="department" required="" id="select">
  <option value="" disabled selected>Choose Department</option>
  <option value="Computer Science">Computer Science</option>
  <option value="Information Technology">Information Technology</option>

</select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Last name -->
                    <div class="md-form">
                        <select class="form-control" name="semester" required="" id="select">
  <option value="" disabled selected>Choose Semester</option>
  <option value="First Semester">First Semester</option>
  <option value="Second Semester">Second Semester</option>
  <option value="Third Semester">Third Semester</option>
   <option value="Fourth Semester">Fourth Semester</option>
  <option value="Fifth Semester">Fifth Semester</option>
  <option value="Six Semester">Six Semester</option>
   <option value="Seven Semester">Seven Semester</option>
  <option value="Eight Semester">Eight Semester</option>
</select>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="text" id="materialRegisterFormCollegeAddress" class="form-control" name="college_address" required>
                <label for="materialRegisterFormCollegeAddress">College Address</label>
            </div>











 <div class="form-row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <!-- First name -->
                    <div class="md-form">
                       <input type="text" id="materialRegisterFormDirectorName" class="form-control" name="director_name" required>
                        <label for="materialRegisterFormDirectorName">Director name</label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <!-- Last name -->
                    <div class="md-form">
                       <input type="text" id="materialRegisterProfessorName" class="form-control" name="professor_name" required>
                        <label for="materialRegisterProfessorName">Professor Name</label>
                    </div>
                </div>

                  <div class="col-xs-12 col-md-4 col-lg-4">
                    <!-- Last name -->
                  <div class="md-form mt-0">
                  <input type="text" id="materialRegisterFormHODNAME" class="form-control" name="hod_name" required>
                <label for="materialRegisterFormHODNAME">HOD Name</label>
            </div>
                </div>

            </div>





  <!-- E-mail -->
           

  <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    Affilated College Details
                </small>




 <div class="form-row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- First name -->
                   <div class="md-form mt-0">
                <input type="text" id="materialRegisterFormAffilatedCollegeAddress" class="form-control" name="affilated_college_address" required>
                <label for="materialRegisterFormAffilatedCollegeAddress">Affilated College Address</label>
            </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Last name -->
                    <div class="md-form mt-0">
                <input type="text" id="materialRegisterFormAffilatedCollegeName" class="form-control" name="affilated_college_name" required>
                <label for="materialRegisterFormAffilatedCollegeName">Affilated College Name</label>
            </div>
                </div>

              

            </div>




 <!-- E-mail -->
            
<div class="form-row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- First name -->
                 
 <label class="filelabel" id="filelabel">
    <i class="fa fa-paperclip">
    </i>
    <span class="title">
        Upload College Logo
    </span>
    <input class="FileUpload1" id="FileInput" name="college_logo" type="file"/>
</label>

</div>
           
                
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Last name -->
  <label class="filelabel1" id="filelabel1">
    <i class="fa fa-paperclip">
    </i>
    <span class="title">
        Upload Affilated College Logo
    </span>
    <input class="FileUpload2" id="FileInput1" name="affilated_college_logo" type="file"/>
</label>

                </div>

              

            </div>


  <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4" style="margin-top: 15px;">
                    Choose Back-End Language

                </small>







 




<div class="form-row">

                <div class="col">
                    <!-- First name -->
 <p><%=result[1][0].name%></p> 
 <div class="on-off-toggle ">
  <input class="on-off-toggle__input" type="checkbox" id="bopis" name="php"  value="<%=result[1][0].id%>" />
  <label for="bopis" class="on-off-toggle__slider"></label>
</div>


</div>

                         <div class="col">
                    <!-- First name -->
<p><%=result[1][1].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis1" name="nodejs"  value="<%=result[1][1].id%>" />
  <label for="bopis1" class="on-off-toggle__slider"></label>
</div>


</div>
           
                         <div class="col">
                    <!-- First name -->
<p><%=result[1][4].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis2" name="java"  value="<%=result[1][4].id%>"/>
  <label for="bopis2" class="on-off-toggle__slider"></label>
</div>


</div>
           
                
                <div class="col">
                    <!-- Last name -->
<p><%=result[1][6].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis3" name="python"  value="<%=result[1][6].id%>" />
  <label for="bopis3" class="on-off-toggle__slider"></label>
</div>


                </div>

              

            </div>





  <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4" style="margin-top: 15px;">
                    Choose Front-End Language

                </small>



<div class="form-row">
                <div class="col">
                    <!-- First name -->
<p> <%=result[1][5].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis4" name="html"  value="<%=result[1][5].id%>"/>
  <label for="bopis4" class="on-off-toggle__slider"></label>
</div>


</div>
                         <div class="col">
                    <!-- First name -->
<p><%=result[1][10].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis5" name="css"  value="<%=result[1][10].id%>"/>
  <label for="bopis5" class="on-off-toggle__slider"></label>
</div>


</div>
           
                         <div class="col">
                    <!-- First name -->
<p><%=result[1][11].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis6" name="bootstrap"  value="<%=result[1][11].id%>"/>
  <label for="bopis6" class="on-off-toggle__slider"></label>
</div>


</div>
           
                
                <div class="col">
                    <!-- Last name -->
<p><%=result[1][7].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis7" name="javascript"  value="<%=result[1][7].id%>" />
  <label for="bopis7" class="on-off-toggle__slider"></label>
</div>


                </div>

              

            </div>




<div class="form-row">
                <div class="col">
                    <!-- First name -->
<p> <%=result[1][8].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis8"  name="jquery"  value="<%=result[1][8].id%>"/>
  <label for="bopis8" class="on-off-toggle__slider"></label>
</div>

  
</div>
                         <div class="col">
                    <!-- First name -->
<p><%=result[1][9].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis9" name="json"  value="<%=result[1][9].id%>"/>
  <label for="bopis9" class="on-off-toggle__slider"></label>
</div>


</div>
           
                         <div class="col">
                    <!-- First name -->
<p><%=result[1][2].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis10" name="angular"  value="<%=result[1][2].id%>"/>
  <label for="bopis10" class="on-off-toggle__slider"></label>
</div>


</div>
           
                
                <div class="col">
                    <!-- Last name -->
<p><%=result[1][3].name%></p> <div class="on-off-toggle">
  <input class="on-off-toggle__input" type="checkbox" id="bopis11" name="react"  value="<%=result[1][3].id%>" />
  <label for="bopis11" class="on-off-toggle__slider"></label>
</div>


                </div>

              

            </div>


   






 <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4" style="margin-top: 15px;">
                    For Group File
                </small>




 <div class="form-row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- First name -->
                   <div class="md-form mt-0">
               <input type="text" id="materialRegisterFormFriendName1" class="form-control" name="friend">
                <label for="materialRegisterFormFriendName1">Friend Name</label>
            </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Last name -->
                    <div class="md-form mt-0">
                <input type="text" id="materialRegisterFormFriendRollNumber1" class="form-control" name="roll_number1" >
                <label for="materialRegisterFormFriendRollNumber1">Friend Roll Number</label>
            </div>
                </div>

              

            </div>



 <div class="form-row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- First name -->
                   <div class="md-form mt-0">
                <input type="text" id="materialRegisterFormFriendName2" class="form-control" name="friend1">
                <label for="materialRegisterFormFriendName2">Friend Name</label>
            </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Last name -->
                    <div class="md-form mt-0">
                <input type="text" id="materialRegisterFormFriendRollNumber2" class="form-control" name="roll_number2">
                <label for="materialRegisterFormFriendRollNumber2">Friend Roll Number</label>
            </div>
                </div>

              

            </div>



        
        <input type="hidden" class="form-control" name="projectid" value="<%=result[0][0].id%>">  
        <input type="hidden" class="form-control" name="seo_name" value="<%=result[0][0].seo_name%>">  




            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Edit</button>

         

          


        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register -->

          </div>
        </div>
      </div>

    </section><!-- #about -->

  <div class="container-fluid" >
     <div class="row">
<div id="footer" style="position: fixed;bottom: 0px;width:100%" class="bg-light">
  
        <p class="text-center">Want Final Year Project ?</p>
      </div>
    </div>
  </div>
  
</div>
   
</body>


 <!-- JavaScript /a/libraries -->
    <script src="/javascripts/jquery.js"></script>
    <script rel="preload" src="/javascripts/all.js" as="script" async></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.js"></script>

<script type="text/javascript">
  $("#FileInput").on('change',function (e) {
            var labelVal = $(".title").text();
            var oldfileName = $(this).val();
                fileName = e.target.value.split( '\\' ).pop();

                if (oldfileName == fileName) {return false;}
                var extension = fileName.split('.').pop();

            if ($.inArray(extension,['jpg','jpeg','png']) >= 0) {
                $(".filelabel i").removeClass().addClass('fa fa-file-image-o');
                $(".filelabel i, .filelabel .title").css({'color':'#208440'});
                $(".filelabel").css({'border':' 2px solid #208440'});
            }
            else if(extension == 'pdf'){
                $(".filelabel i").removeClass().addClass('fa fa-file-pdf-o');
                $(".filelabel i, .filelabel .title").css({'color':'red'});
                $(".filelabel").css({'border':' 2px solid red'});

            }
  else if(extension == 'doc' || extension == 'docx'){
            $(".filelabel i").removeClass().addClass('fa fa-file-word-o');
            $(".filelabel i, .filelabel .title").css({'color':'#2388df'});
            $(".filelabel").css({'border':' 2px solid #2388df'});
        }
            else{
                $(".filelabel i").removeClass().addClass('fa fa-file-o');
                $(".filelabel i, .filelabel .title").css({'color':'black'});
                $(".filelabel").css({'border':' 2px solid black'});
            }

            if(fileName ){
                if (fileName.length > 10){
                    $(".filelabel .title").text(fileName.slice(0,4)+'...'+extension);
                }
                else{
                    $(".filelabel .title").text(fileName);
                }
            }
            else{
                $(".filelabel .title").text(labelVal);
            }
        });





  $("#FileInput1").on('change',function (e) {
            var labelVal = $(".title").text();
            var oldfileName = $(this).val();
                fileName = e.target.value.split( '\\' ).pop();

                if (oldfileName == fileName) {return false;}
                var extension = fileName.split('.').pop();

            if ($.inArray(extension,['jpg','jpeg','png']) >= 0) {
                $(".filelabel1 i").removeClass().addClass('fa fa-file-image-o');
                $(".filelabel1 i, .filelabel .title").css({'color':'#208440'});
                $(".filelabel1").css({'border':' 2px solid #208440'});
            }
            else if(extension == 'pdf'){
                $(".filelabel1 i").removeClass().addClass('fa fa-file-pdf-o');
                $(".filelabel1 i, .filelabel .title").css({'color':'red'});
                $(".filelabel1").css({'border':' 2px solid red'});

            }
  else if(extension == 'doc' || extension == 'docx'){
            $(".filelabel1 i").removeClass().addClass('fa fa-file-word-o');
            $(".filelabel1 i, .filelabel .title").css({'color':'#2388df'});
            $(".filelabel1").css({'border':' 2px solid #2388df'});
        }
            else{
                $(".filelabel1 i").removeClass().addClass('fa fa-file-o');
                $(".filelabel1 i, .filelabel .title").css({'color':'black'});
                $(".filelabel1").css({'border':' 2px solid black'});
            }

            if(fileName ){
                if (fileName.length > 10){
                    $(".filelabel1 .title").text(fileName.slice(0,4)+'...'+extension);
                }
                else{
                    $(".filelabel1 .title").text(fileName);
                }
            }
            else{
                $(".filelabel1 .title").text(labelVal);
            }
        });











/**
 * Chosen: Multiple Dropdown
 */
window.WDS_Chosen_Multiple_Dropdown = {};
( function( window, $, that ) {

  // Constructor.
  that.init = function() {
    that.cache();

    if ( that.meetsRequirements ) {
      that.bindEvents();
    }
  };

  // Cache all the things.
  that.cache = function() {
    that.$c = {
      window: $(window),
      theDropdown: $( '.dropdown' ),
    };
  };

  // Combine all events.
  that.bindEvents = function() {
    that.$c.window.on( 'load', that.applyChosen );
  };

  // Do we meet the requirements?
  that.meetsRequirements = function() {
    return that.$c.theDropdown.length;
  };

  // Apply the Chosen.js library to a dropdown.
  // https://harvesthq.github.io/chosen/options.html
  that.applyChosen = function() {
    that.$c.theDropdown.chosen({
      inherit_select_classes: true,
      width: '300px',
    });
  };

  // Engage!
  $( that.init );

})( window, jQuery, window.WDS_Chosen_Multiple_Dropdown );


</script>

</html>
