<%include ./header.ejs %>


<style>
    /* Style for the loader and overlay */
    #loader-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }
    #loader {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
   </style>

		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->	
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body p-0">
								<div class="table-responsive active-projects style-1">
								<div class="tbl-caption">
									<h4 class="heading mb-0"><%=status.toUpperCase()%> Request List</h4>
									<div class="d-flex justify-content-start gap-2"> <!-- Flex container with gap -->
										<button type="button" onclick="mergeData('btech_project')" class="btn btn-primary btn-sm">Merge Duplicate Data</button>
										<button type="button" onclick="exportTableToCSV('data.csv')" class="btn btn-dark btn-sm">Download Data</button>
									</div>
								</div>


								<div id="loader-overlay">
									<div id="loader"></div>
									</div>

									<table id="empoloyees-tblwrapper" class="table">
										<thead>
											<tr>
												<th>Id</th>
												<th>Student Name</th>
												<th>Email Address</th>
												<th>Contact Number</th>
												<th>Submission Date	</th>
												<th>Degree Program	</th>
												<th>Project Category</th>
												<th>Project Title</th>
												<th>Student Roll Number</th>
												<th>Details</th>
												<th>Project Report</th>
												<% if(status =='success'){ %>
													<th>Corss Sales</th>
												<th>Request Feedback</th>
												<% } %>
												<% if(status!='success') { %>
													<th>Send Whatsapp</th>


												<th>Send Reminder</th>

												<th>Current Status</th>
												<% } %>
												<!-- <th>Sent Mail</th> -->


											</tr>
										</thead>
										<tbody>

<% for(i=0;i<projectDetails.length;i++){ %>

											<tr>
												<td><span><%=i%></span></td>
												<td><span><%=projectDetails[i].name%></span></td>
												<td><span><%=projectDetails[i].email%></span></td>
												<td>
													<span><%=projectDetails[i].number%></span>
												</td>
												<td>
													<span><%=projectDetails[i].date%></span>
												</td>
                                               
												<td>
													<span><%=projectDetails[i].report_type.replace(/-/g, ' ').toUpperCase()%></span>
												</td>

												<td>
													<span><%=projectDetails[i].project_type.replace(/-/g, ' ').toUpperCase()%></span>
												</td>

                                                <td>
													<span><%=projectDetails[i].seo_name.replace(/-/g, ' ').toUpperCase()%></span>
												</td>


												<td>
													<span><%=projectDetails[i].roll_number%></span>
												</td>
												


												<td>
                                                    <a  class="badge badge-dark light border-0" data-bs-toggle="modal" data-bs-target="#qcModal" 
                                                    data-bs-images="College Name:<%=projectDetails[i].college_name.toUpperCase()%>-College Address:<%=projectDetails[i].college_address.toUpperCase()%>-
                                                    Affiliated College Name:<%=projectDetails[i].affilated_college_name.toUpperCase()%>-Affiliated College Address:<%=projectDetails[i].affilated_college_address.toUpperCase()%>-
                                                    Director Name:<%=projectDetails[i].director_name.toUpperCase()%>-Professor Name:<%=projectDetails[i].professor_name.toUpperCase()%>-
                                                    HOD:<%=projectDetails[i].hod_name.toUpperCase()%>-
                                                    Semester:<%=projectDetails[i].semester.toUpperCase()%>-Department:<%=projectDetails[i].department.toUpperCase()%>-
                                                   ">View Details</a>
                                                </td>



                                                   <td>
													<a href="/view-user-report?roll_number=<%=projectDetails[i].roll_number%>" target="_blank"<button class="badge badge-primary light border-0" >View Report</button>
													</td>


													

													<% if(status =='success'){ %>

													  <% if(projectDetails[i].israting == 'send'){ %>
<td>-</td>
														<% } else { %>

															<td>
																<button class="badge badge-success light border-0" 
																	onclick="sendcrossSalesWhatsapp('<%=projectDetails[i].id%>', '<%=projectDetails[i].name%>', '<%=projectDetails[i].email%>', '<%=projectDetails[i].roll_number%>', '<%=projectDetails[i].seo_name.replace(/-/g, ' ')%>', '<%=projectDetails[i].number%>')">
																	Cross Sales
																</button>
															</td>


															<td>
																<button class="badge badge-success light border-0" 
																		onclick="sendRating('<%=projectDetails[i].id%>', '<%=projectDetails[i].name%>', '<%=projectDetails[i].number%>', '<%=projectDetails[i].roll_number%>', '<%=projectDetails[i].seo_name.replace(/-/g, ' ').toUpperCase()%>')">
																		Request Feedback
																</button>
															  </td>
															<% } } %>
													  
												
<% if(projectDetails[i].status !='success'){ %>

	<td>
		<button class="badge badge-success light border-0" 
				onclick="sendWhatsapp('<%=projectDetails[i].id%>', '<%=projectDetails[i].name%>', '<%=projectDetails[i].email%>', '<%=projectDetails[i].roll_number%>', '<%=projectDetails[i].seo_name.replace(/-/g, ' ').toUpperCase()%>' , '<%=projectDetails[i].number%>')">
		  Send Whatsapp
		</button>
	  </td>



	 
	


	<td>
		<button class="badge badge-warning light border-0" 
				onclick="sendReminder('<%=projectDetails[i].id%>', '<%=projectDetails[i].name%>', '<%=projectDetails[i].email%>', '<%=projectDetails[i].roll_number%>', '<%=projectDetails[i].seo_name.replace(/-/g, ' ').toUpperCase()%>' , '<%=projectDetails[i].number%>')">
		  Send Reminder
		</button>
	  </td>

													<td>
														<select 
																onchange="updateStatus('<%=projectDetails[i].id%>', this.value)">
														  <option value="interested" 
															<%= projectDetails[i].status === 'interested' ? 'selected' : '' %>>Interested</option>
														  <option value="pending" 
															<%= projectDetails[i].status === 'pending' ? 'selected' : '' %>>Pending</option>
														  <option value="not_interested" 
															<%= projectDetails[i].status === 'not_interested' ? 'selected' : '' %>>Not Interested</option>
														  <option value="dnp" 
															<%= projectDetails[i].status === 'dnp' ? 'selected' : '' %>>DNP</option>
														  <option value="fake" 
															<%= projectDetails[i].status === 'fake' ? 'selected' : '' %>>Fake</option>
														  <option value="recall" 
															<%= projectDetails[i].status === 'recall' ? 'selected' : '' %>>Recall</option>
															<option value="reminder_sent" 
															<%= projectDetails[i].status === 'reminder_sent' ? 'selected' : '' %>>Reminder Sent</option>
															<option value="success" 
															<%= projectDetails[i].status === 'success' ? 'selected' : '' %>>Already Purchased</option>
														</select>
													  </td>


													  
<% } %>




											

											</tr>


                                            <% } %>
										
											
										</tbody>
										
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>



			<div class="modal fade" id="qcModal" tabindex="-1" aria-labelledby="qcModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xs">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="qcModalLabel">Detailed Report</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="reporttable">
								<table class="table">
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>


        </div>
		
        <!--**********************************
            Content body end
        ***********************************-->
		
		
		
        <%include ./footer.ejs %>


		<style>

			/* Style for the loader and overlay */
		  
			#loader-overlay {
		  
			  position: fixed;
		  
			  top: 0;
		  
			  left: 0;
		  
			  width: 100%;
		  
			  height: 100%;
		  
			  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
		  
			  display: none;
		  
			  justify-content: center;
		  
			  align-items: center;
		  
			  z-index: 9999;
		  
			}
		  
			#loader {
		  
			  border: 8px solid #f3f3f3;
		  
			  border-top: 8px solid #3498db;
		  
			  border-radius: 50%;
		  
			  width: 50px;
		  
			  height: 50px;
		  
			  animation: spin 1s linear infinite;
		  
			}
		  
			@keyframes spin {
		  
			  0% { transform: rotate(0deg); }
		  
			  100% { transform: rotate(360deg); }
		  
			}
		  
		  </style>
		  
		  <div id="loader-overlay">
		  
			<div id="loader"></div>
		  
		  </div>


		<script>
			// $('.bookdemo').click(function(){
			$("#empoloyees-tblwrapper").on('click', '.bookdemo', function() {

				let name = $(this).attr('name')
				let number = $(this).attr('number')
				let source_code_id = $(this).attr('source_code_id')
				let email = $(this).attr('email')

				$.post('/dashboard/requestForDemo',{name,number,source_code_id,email,whatsapp_number:number},data=>{
					console.log(data)
					if(data.msg=='success'){
						alert('Success')
						window.location.reload()
					}
					else{
						alert('Error Occurred')
					}
				})

			})





			$("#empoloyees-tblwrapper").on('click', '.sentmail', function() {
				// alert('hi')
				let name = $(this).attr('name')
				let number = $(this).attr('number')
				let source_code_id = $(this).attr('source_code_id')
				let email = $(this).attr('email')

				$.post('/dashboard/sentmail',{name,number,source_code_id,email,whatsapp_number:number},data=>{
					console.log(data)
					if(data.msg=='success'){
						alert('Success')
						window.location.reload()
					}
					else{
						alert('Error Occurred')
					}
				})

			})




			var qcModal = document.getElementById('qcModal');
    qcModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var data = button.getAttribute('data-bs-images').split('-');
        console.log('qc', data);
        var tableBody = document.querySelector('#reporttable table tbody');
        tableBody.innerHTML = '';
        data.forEach(function (item) {
            var pair = item.split(':');
            var key = pair[0];
            var value = pair[1];
            var row = tableBody.insertRow();
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.textContent = key;
            cell2.textContent = value;
        });
    });


	

		</script>
	



	<script>
		function updateStatus(id, status) {
		  fetch(`/affiliate/dashboard/project/report/updateStatus`, {
			method: 'POST',
			headers: {
			  'Content-Type': 'application/json'
			},
			body: JSON.stringify({ id: id, status: status })
		  })
		  .then(response => response.json())
		  .then(data => {
			console.log('Status updated successfully:', data);
			window.location.reload()
		  })
		  .catch((error) => {
			console.error('Error updating status:', error);
		  });
		}
		</script>



<script>
	function sendReminder(id,name, email, roll_number,project_name, number) {

		const loaderOverlay = document.getElementById("loader-overlay");

const loader = document.getElementById("loader");

loaderOverlay.style.display = "flex"; // Show overlay


  // Construct the URL with query parameters
  const url = `/affiliate/dashboard/project/report/send/reminder?id=${encodeURIComponent(id)}&name=${encodeURIComponent(name)}&email=${encodeURIComponent(email)}&roll_number=${encodeURIComponent(roll_number)}&project_name=${encodeURIComponent(project_name)}&number=${encodeURIComponent(number)}`;

  // Make the GET request
  fetch(url)
    .then(response => {
      console.log('Full response:', response);
      return response.json(); // Attempt to parse the response as JSON
    })
    .then(data => {
		loaderOverlay.style.display = "none"; // Hide overlay after response
      console.log('Reminder sent successfully:', data);
      alert('Send Successfully');
	  window.location.reload()

    })
    .catch(error => {
		loaderOverlay.style.display = "none"; // Hide overlay after response
      console.error('Error sending reminder:', error);
      alert('Error Occurred');
    });

}


	</script>





<script>
	function sendRating(id, name, number, roll_number,project_name) {

		const loaderOverlay = document.getElementById("loader-overlay");

const loader = document.getElementById("loader");

loaderOverlay.style.display = "flex"; // Show overlay


  // Construct the URL with query parameters
  const url = `/affiliate/dashboard/project/report/send/rating?id=${encodeURIComponent(id)}&name=${encodeURIComponent(name)}&number=${encodeURIComponent(number)}&roll_number=${encodeURIComponent(roll_number)}&project_name=${encodeURIComponent(project_name)}`;

  // Make the GET request
  fetch(url)
    .then(response => {
      console.log('Full response:', response);
      return response.json(); // Attempt to parse the response as JSON
    })
    .then(data => {
		loaderOverlay.style.display = "none"; // Hide overlay after response
      console.log('Reminder sent successfully:', data);
      alert('Send Successfully');
	  window.location.reload();
    })
    .catch(error => {
		loaderOverlay.style.display = "none"; // Hide overlay after response
      console.error('Error sending reminder:', error);
      alert('Error Occurred');
    });

}


	</script>



<script>
    function sendWhatsapp(id, name, email, rollNumber, seoName, phoneNumber) {
        // Construct the dynamic WhatsApp message
        const message = encodeURIComponent(`Just One Step Away from Your Project Report!

Hi ${name},

Great news! 🎉 Your ${seoName} project report is ready and waiting for you.

You’re just one step away from downloading your project report and getting started on your final year project with ease.

👉 Complete the payment and download your report now:

https://www.filemakr.com/final/year/project/report/${rollNumber}

With FileMakr, you not only get a comprehensive project report but also access to source codes and detailed documentation to help you succeed in your final year.

If you have any questions or need assistance, feel free to reach out to us at info@filemakr.com. We’re here to help!

Empower yourself and succeed with FileMakr today!`);

        // Construct the WhatsApp URL
        const whatsappURL = `https://wa.me/91${phoneNumber}?text=${message}`;

        // Open the WhatsApp URL
        window.open(whatsappURL, '_blank');
    }
</script>
	
		

<script>
	function sendcrossSalesWhatsapp(id, name, email, rollNumber, sourceCode, number) {
    let message = `Hello ${name},%0A%0AWe hope you're doing well! Since you've already purchased the project report for ${sourceCode}, we wanted to let you know that the source code is also available.%0A%0AWould you like to get the complete source code for your project? Let us know if you're interested! 😊`;

    let whatsappUrl = `https://wa.me/91${number}?text=${message}`;

    window.open(whatsappUrl, '_blank');
}

</script>