<%include ./header.ejs %>

		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->	
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body p-0">
								<div class="table-responsive active-projects style-1">
								<div class="tbl-caption">
									<h4 class="heading mb-0">Source Code</h4>
									<div>
										
                                                
                                                <input type="text" class="form-control" placeholder="Search">
									</div>
								</div>
									<table id="empoloyees-tblwrapper" class="table">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th>Language</th>
												<th>Status</th>
												<th>Download</th>
												<th>Readme File</th>
												<% if(status == 'all') {%>
													<th>Update Data</th>
													<th>Update Image</th>

													<% } else { %>
														<th>Update</th>

														<% } %>


											</tr>
										</thead>
										<tbody>

<% for(i=0;i<result.length;i++){ %>

											<tr>
												<td><span><%=result[i].id%></span></td>
												<td><span><%=result[i].name%></span></td>

											
												<td>
													<span><%=result[i].category%></span>
												</td>
												<td>
													<span class="badge badge-success light border-0"><%=result[i].status%></span>
												</td>
												<td>
													<a href='/images/<%=result[i].source_code%>' download=""><span class="badge badge-dark light border-0">Download</span></a>
												</td>
												<td>
													<a href="/<%=result[i].seo_name%>/source-code" target="_blank"><span class="badge badge-dark light border-0">Readme File</span></a>
												</td>
												<% if(status == 'all') {%>
													<td>
														<a href="/affiliate/dashboard/update/data?id=<%=result[i].id%>" target="_blank"><span class="badge badge-primary light border-0">Update Data</span></a>
													</td>
													<td>
														<a href="/affiliate/dashboard/update/image?id=<%=result[i].id%>" target="_blank"><span class="badge badge-primary light border-0">Update Image</span></a>
													</td>
												<% } else { %>
													<td>
														<a href="/affiliate/dashboard/update/screenshots?id=<%=result[i].id%>" target="_blank"><span class="badge badge-primary light border-0">Update</span></a>
													</td>
												<% } %>
												

											</tr>


                                            <% } %>
										
											
										</tbody>
										
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>
        </div>
		
        <!--**********************************
            Content body end
        ***********************************-->
		
		
		
        <%include ./footer.ejs %>
